
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Accidents and injuries - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-by-health-topics" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-by-health-topics" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Accidents and injuries</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Find out about accidents and injuries such as broken bones and burns, and how they're treated</p>
      </div>
    </div>

    <article>
		
      <section>
        
        <!-- A -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Acid and chemical burns 
                </a>
              </li>
              
              <li>
                <a href="">
                  Animal and human bites 
                </a>
              </li>

            </ul>

          </div>
        </div>

        <!-- B -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="B">B</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Black eye 
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken ankle 
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken arm or wrist 
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken collarbone 
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken finger or thumb 
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken hip 
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken leg 
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken nose 
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken or bruised ribs 
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken toe 
                </a>
              </li>
              
              <li>
                <a href="">
                  Burns and scalds 
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <!-- C -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="C">C</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Chipped, broken or cracked tooth 
                </a>
              </li>
              
              <li>
                <a href="">
                  Cuts and grazes 
                </a>
              </li>

            </ul>

          </div>
        </div>

        <!-- D -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="D">D</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Dislocated kneecap 
                </a>
              </li>
              
              <li>
                <a href="">
                  Dislocated shoulder 
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <!-- E -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="E">E</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Eye injuries 
                </a>
              </li>

            </ul>

          </div>
        </div>

        <!-- F -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="F">F</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Falls
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <!-- H -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="H">H</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Hamstring injury 
        
                </a>
              </li>
              
              <li>
                <a href="">
                  Head injury and concussion
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <!-- J -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="J">J</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Jellyfish and other sea creature stings 
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <!-- K -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="K">K</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Knocked-out tooth 
                </a>
              </li>

            </ul>

          </div>
        </div>

        <!-- M -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="M">M</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Meniscus tear (knee cartilage damage) 
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <!-- N -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="N">N</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Nosebleed
                </a>
              </li>
            
            </ul>

          </div>
        </div>

        <!-- R -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="R">R</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Repetitive strain injury (RSI) 
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <!-- S -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="S">S</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Scars
                </a>
              </li>
              
              <li>
                <a href="">
                  Shin splints 
                </a>
              </li>
              
              <li>
                <a href="">
                  Snake bites 
                </a>
              </li>
              
              <li>
                <a href="">
                  Sprains and strains 
                </a>
              </li>
            </ul>

          </div>
        </div>

        <!-- T -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="T">T</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Tennis elbow 
                </a>
              </li>

            </ul>

          </div>
        </div>

        <!-- W -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="W">W</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Whiplash
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <br>
        <p><a href="https://www.nhs.uk/conditions">Browse all A to Z topics</a></p>
      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
