
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Ears, nose and throat- NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../health-a-to-z_v4" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-by-health-topics" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-by-health-topics" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Ears, nose and throat</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Includes conditions, symptoms and treatments such as ear infections, hearing loss, tonsilitis and dental treatments</p>
      </div>
    </div>


    <article>
      <!-- Teeth? Does that sit in throat -->

      <!-- Accident or injury -->
        Chipped, broken or cracked tooth
        Knocked-out tooth
N      Nosebleed

      <!-- Advice or information -->
        Braces and orthodontics
        Hearing aids and implants

      <!-- Conditions -->
T      Achalasia
      Acoustic neuroma (vestibular schwannoma)
N      Allergic rhinitis
      Cholesteatoma
        Cleft lip and palate
        Cold sores
        Dental abscess
      Ear infections
      Earwax build-up
      Epiglottitis
      Glue ear
        Goitre
        Gum disease
      Hay fever
        Head and neck cancer
      Labyrinthitis and vestibular neuritis
      Laryngeal (larynx) cancer
      Laryngitis
        Leukoplakia
E      Mastoiditis
      Ménière's disease
        Mouth ulcers
N      Nasal and sinus cancer
N      Nasal polyps
N      Nasopharyngeal cancer
      Noise sensitivity (hyperacusis)
      Non-allergic rhinitis
      Oesophageal atresia and tracheo-oesophageal fistula
      Oral thrush (mouth thrush)
      Otosclerosis
      Perforated eardrum
      Salivary gland stones
      Sinusitis (sinus infection)
        Temporomandibular disorder (TMD)
      Tongue-tie
      Tonsillitis
        Tooth decay
      Vertigo

      <!--  -->

        Mouth cancer
      Oesophageal cancer
      Hearing loss
      Tinnitus
      Adenoidectomy
        Root canal treatment
      Tracheostomy
        Wisdom tooth removal

      <!-- Symptom -->
      Dry mouth
      Earache
      Lost or changed sense of smell
        Metallic taste
        Sore or dry lips
        Sore or white tongue
      Sore throat
        Teeth grinding (bruxism)
        Toothache

      <!-- Symptom -->
      Anosmia, see Lost or changed sense of smell
        Bruxism, see Teeth grinding (bruxism)
      Deafness, see Hearing loss
        Dental pain, see Toothache
      Dry lips, see Sore or dry lips
      Eardrum (burst), see Perforated eardrum
      Hyperacusis, see Noise sensitivity (hyperacusis)
        Jaw pain, see Temporomandibular disorder (TMD)
        Lips (sore or dry), see Sore or dry lips
        Mouth thrush, see Oral thrush (mouth thrush)
N      Nose cancer, see Nasal and sinus cancer
      Quinsy, see Tonsillitis
      Rhinitis (allergic), see Allergic rhinitis
      Sense of smell (lost/changed), see Lost or changed sense of smell
      Sinus cancer, see Nasal and sinus cancer
      Sinusitis, see Sinusitis (sinus infection)
        Sore lips, see Sore or dry lips
      Throat (sore), see Sore throat
        Tongue (sore or white), see Sore or white tongue
        Tooth (chipped or broken), see Chipped, broken or cracked tooth
        Tooth knocked out, see Knocked-out tooth
      Vestibular neuritis, see Labyrinthitis and vestibular neuritis
      Vestibular schwannoma, see Acoustic neuroma (vestibular schwannoma)

      <!-- Test -->
      Hearing tests
      Hearing tests for children

      <!-- Treatment -->
        Dentures (false teeth)
        Orthodontics
        Teeth whitening


      <section class="nhsuk-u-reading-width">
        <h2>Nose</h2>

        <ul class="nhsuk-hub-key-links beta-hub-key-links">
      <!-- Conditions -->
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Allergic rhinitis
              </a>
            </li>
            
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                !!! ----  Anosmia, see Lost or changed sense of smell
              </a>
            </li>
            
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Lost or changed sense of smell
              </a>
            </li>
            
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Nasal and sinus cancer
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Nasal polyps
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Nasopharyngeal cancer
              </a>
            </li>
            
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Nose cancer, see Nasal and sinus cancer
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Nosebleed
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Sense of smell (lost/changed), see Lost or changed sense of smell
              </a>
            </li>
            
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Sinus cancer, see Nasal and sinus cancer
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Sinusitis, see Sinusitis (sinus infection)
              </a>
            </li>
        

            <h2>Throat</h2>
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>

        </ul>
      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
