
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Ears, nose and throat- NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../health-a-to-z_v4" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-by-health-topics" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-by-health-topics" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Ears, nose, mouth and throat</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Includes conditions, symptoms and treatments such as ear infections, hearing loss, tonsilitis and dental treatments</p>
      </div>
    </div>

    <article>



    <!-- 
T      Achalasia
E      Acoustic neuroma (vestibular schwannoma)
T      Adenoidectomy
N      Allergic rhinitis
N      Anosmia, see Lost or changed sense of smell
M      Braces and orthodontics
M      Bruxism, see Teeth grinding (bruxism)
M      Chipped, broken or cracked tooth
E      Cholesteatoma
M      Cleft lip and palate
M      Cold sores
E      Deafness, see Hearing loss
M     Dental abscess
M      Dental pain, see Toothache
M      Dentures (false teeth)
M      Dry lips, see Sore or dry lips
M      Dry mouth
E      Ear infections
E      Earache
E      Eardrum (burst), see Perforated eardrum
E      Earwax build-up
T      Epiglottitis
E      Glue ear
      Goitre
M      Gum disease
N      Hay fever
      Head and neck cancer
E      Hearing aids and implants
E      Hearing loss
E      Hearing tests
E      Hearing tests for children
E      Hyperacusis, see Noise sensitivity (hyperacusis)
      Jaw pain, see Temporomandibular disorder (TMD)
M      Knocked-out tooth
E      Labyrinthitis and vestibular neuritis
T      Laryngeal (larynx) cancer
T      Laryngitis
M      Leukoplakia
M      Lips (sore or dry), see Sore or dry lips
N      Lost or changed sense of smell
W      Mastoiditis
E      Ménière's disease
M      Metallic taste
M      Mouth cancer
M      Mouth thrush, see Oral thrush (mouth thrush)
M      Mouth ulcers
N      Nasal and sinus cancer
N      Nasal polyps
N      Nasopharyngeal cancer
E      Noise sensitivity (hyperacusis)
N      Non-allergic rhinitis
N      Nose cancer, see Nasal and sinus cancer
N      Nosebleed
T      Oesophageal atresia and tracheo-oesophageal fistula
T      Oesophageal cancer
M      Oral thrush (mouth thrush)
M      Orthodontics
E      Otosclerosis
E      Perforated eardrum
T      Quinsy, see Tonsillitis
N      Rhinitis (allergic), see Allergic rhinitis
M      Root canal treatment
M      Salivary gland stones
N      Sense of smell (lost/changed), see Lost or changed sense of smell
N      Sinus cancer, see Nasal and sinus cancer
N      Sinusitis (sinus infection)
N      Sinusitis, see Sinusitis (sinus infection)
M      Sore lips, see Sore or dry lips
M      Sore or dry lips
M      Sore or white tongue
T      Sore throat
M      Teeth grinding (bruxism)
M      Teeth whitening
      Temporomandibular disorder (TMD)
T      Throat (sore), see Sore throat
E      Tinnitus
M      Tongue (sore or white), see Sore or white tongue
M      Tongue-tie
T      Tonsillitis
M      Tooth (chipped or broken), see Chipped, broken or cracked tooth
M      Tooth decay
M      Tooth knocked out, see Knocked-out tooth
M      Toothache
T      Tracheostomy
E      Vertigo
E      Vestibular neuritis, see Labyrinthitis and vestibular neuritis
E      Vestibular schwannoma, see Acoustic neuroma (vestibular schwannoma)
M      Wisdom tooth removal

-->


      <section class="nhsuk-u-reading-width">
        <h2>Ear</h2>
        <ul class="nhsuk-hub-key-links beta-hub-key-links">
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Acoustic neuroma (vestibular schwannoma)
              </a>
            </li>
            
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Cholesteatoma
              </a>
            </li>
            
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Deafness, see Hearing loss
              </a>
            </li>
            
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Ear infections
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Earache
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Eardrum (burst), see Perforated eardrum
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Earwax build-up
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Glue ear
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Hearing aids and implants
              </a>
            </li>
            
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Hearing loss
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Hearing tests
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Hearing tests for children
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Hyperacusis, see Noise sensitivity (hyperacusis)
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Labyrinthitis and vestibular neuritis
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Ménière's disease
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Noise sensitivity (hyperacusis)
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Otosclerosis
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Perforated eardrum
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Tinnitus
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Vertigo
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Vestibular neuritis, see Labyrinthitis and vestibular neuritis
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Vestibular schwannoma, see Acoustic neuroma (vestibular schwannoma)
              </a>
            </li>
          
        </ul>
        <br>

        <h2>Nose</h2>
        <ul class="nhsuk-hub-key-links beta-hub-key-links">
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Allergic rhinitis
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Anosmia, see Lost or changed sense of smell
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Hay fever
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Nasal and sinus cancer
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Nasal polyps
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Nasopharyngeal cancer
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Non-allergic rhinitis
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Nose cancer, see Nasal and sinus cancer   
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Nosebleed
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Sense of smell (lost/changed), see Lost or changed sense of smell
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Sinus cancer, see Nasal and sinus cancer
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Sinusitis (sinus infection)
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Sinusitis, see Sinusitis (sinus infection)
            </a>
          </li>
        </ul>

          <br>

        <h2>Mouth</h2>
        <ul class="nhsuk-hub-key-links beta-hub-key-links">
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Braces and orthodontics
                </a>
              </li>
              
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Bruxism, see Teeth grinding (bruxism)
                </a>
              </li>
              
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Chipped, broken or cracked tooth
                </a>
              </li>
              
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Cleft lip and palate
                </a>
              </li>
            
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Cold sores
                </a>
              </li>
            
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Dental abscess
                </a>
              </li>
              
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Dental pain, see Toothache
                </a>
              </li>

              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Dentures (false teeth)
                </a>
              </li>

              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Dry lips, see Sore or dry lips
                </a>
              </li>
              
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Dry mouth
                </a>
              </li>
            
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Gum disease
                </a>
              </li>

              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Knocked-out tooth
                </a>
              </li>
              
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Leukoplakia
                </a>
              </li>
            
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Lips (sore or dry), see Sore or dry lips
                </a>
              </li>

              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Metallic taste
                </a>
              </li>
              
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Mouth cancer
                </a>
              </li>
            
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Mouth thrush, see Oral thrush (mouth thrush)
                </a>
              </li>

              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Mouth ulcers
                </a>
              </li>

              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Oral thrush (mouth thrush)
                </a>
              </li>
            
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Orthodontics
                </a>
              </li>

              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Root canal treatment
                </a>
              </li>
              
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Salivary gland stones
                </a>
              </li>
            
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Sore lips, see Sore or dry lips
                </a>
              </li>

              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Sore or dry lips
                </a>
              </li>
              
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Sore or white tongue
                </a>
              </li>
            
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Teeth whitening
                </a>
              </li>

              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Tongue (sore or white), see Sore or white tongue
                </a>
              </li>

              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Tongue-tie
                </a>
              </li>
              
              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Tonsillitis
                </a>
              </li>

              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Tooth (chipped or broken), see Chipped, broken or cracked tooth
                </a>
              </li>

              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Tooth decay
                </a>
              </li>

              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Tooth knocked out, see Knocked-out tooth
                </a>
              </li>

              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Toothache
                </a>
              </li>

              <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
                <a href="">
                  Wisdom tooth removal
                </a>
              </li>
          </ul>


        <h2>Throat</h2>
        <ul class="nhsuk-hub-key-links beta-hub-key-links">
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Achalasia
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Adenoidectomy
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Epiglottitis
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Laryngeal (larynx) cancer
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Laryngitis
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Oesophageal atresia and tracheo-oesophageal fistula
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Oesophageal cancer
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Quinsy, see Tonsillitis
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Sore throat
              </a>
            </li>

            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Throat (sore), see Sore throat
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Tonsillitis
              </a>
            </li>
          
            <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
              <a href="">
                Tracheostomy
              </a>
            </li>

        </ul>



      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
