
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Ears, nose, mouth and throat- NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../health-a-to-z_v4" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-by-health-topics" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-by-health-topics" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Ears, nose, mouth and throat</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Includes conditions, symptoms and treatments such as ear infections, hearing loss, tonsilitis and dental treatments</p>
      </div>
    </div>


    <article>

      <section class="nhsuk-u-reading-width">
        
          <!-- A -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Achalasia
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Acoustic neuroma (vestibular schwannoma)
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Adenoidectomy
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Adenoidectomy
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Allergic rhinitis
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Anosmia, see Lost or changed sense of smell
                  </a>
                </li>
              </ul>
    
            </div>
          </div>
          
          
          <!-- B -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="B">B</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Braces and orthodontics
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Bruxism, see Teeth grinding (bruxism)
                  </a>
                </li>
              </ul>
    
            </div>
          </div>
          
          
          <!-- C -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="C">C</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Chipped, broken or cracked tooth
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Cholesteatoma
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Cleft lip and palate
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Cold sores
                  </a>
                </li>
              </ul>
    
            </div>
          </div>
          

          <!-- D -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="D">D</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Deafness, see Hearing loss
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Dental abscess
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Dental pain, see Toothache
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Dentures (false teeth)
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Dry lips, see Sore or dry lips
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Dry mouth
                  </a>
                </li>
              </ul>
    
            </div>
          </div>


          <!-- E -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="E">E</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Ear infections
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Earache
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Eardrum (burst), see Perforated eardrum
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Earwax build-up
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Epiglottitis
                  </a>
                </li>
              </ul>
    
            </div>
          </div>
          

          <!-- G -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="G">G</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Glue ear
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Goitre
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Gum disease
                  </a>
                </li>
              </ul>
    
            </div>
          </div>

          
          <!-- H -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="H">H</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Hay fever
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Head and neck cancer
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Hearing aids and implants
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Hearing loss
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Hearing tests
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Hearing tests for children
          
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Hyperacusis, see Noise sensitivity (hyperacusis)
                  </a>
                </li>
              </ul>
    
            </div>
          </div>
          
          <!-- J -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="J">J</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Jaw pain, see Temporomandibular disorder (TMD)
                  </a>
                </li>
              </ul>
    
            </div>
          </div>
          

          <!-- K -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="K">K</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Knocked-out tooth
                  </a>
                </li>
              </ul>
    
            </div>
          </div>
          

          <!-- L-->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="L">L</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Labyrinthitis and vestibular neuritis
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Laryngeal (larynx) cancer
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Laryngitis
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Leukoplakia
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Lips (sore or dry), see Sore or dry lips
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Lost or changed sense of smell
                  </a>
                </li>
              </ul>

            </div>
          </div>
          

          <!-- M -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="M">M</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Mastoiditis
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Ménière's disease
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Metallic taste
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Mouth cancer
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Mouth thrush, see Oral thrush (mouth thrush)
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Mouth ulcers
                  </a>
                </li>
              </ul>
    
            </div>
          </div>
          

          <!-- N -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="N">N</h2>
              
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Nasal and sinus cancer
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Nasal polyps
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Nasopharyngeal cancer
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Noise sensitivity (hyperacusis)
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Non-allergic rhinitis
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Nose cancer, see Nasal and sinus cancer
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Nosebleed
                  </a>
                </li>
              </ul>
    
            </div>
          </div>

          
        <!-- O -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="O">O</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Oesophageal atresia and tracheo-oesophageal fistula
                </a>
              </li>
              
              <li>
                <a href="">
                  Oesophageal cancer
                </a>
              </li>
              
              <li>
                <a href="">
                  Oral thrush (mouth thrush)
                </a>
              </li>
              
              <li>
                <a href="">
                  Orthodontics
                </a>
              </li>
              
              <li>
                <a href="">
                  Otosclerosis
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        
        
        <!-- P -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="P">P</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Perforated eardrum
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        
        <!-- Q -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="Q">Q</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Quinsy, see Tonsillitis
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- R -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="R">R</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Rhinitis (allergic), see Allergic rhinitis
                </a>
              </li>
              
              <li>
                <a href="">
                  Root canal treatment
                </a>
              </li>
            </ul>
  
          </div>
        </div>


        <!-- S -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="S">S</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Salivary gland stones
                </a>
              </li>
              
              <li>
                <a href="">
                  Sense of smell (lost/changed), see Lost or changed sense of smell
                </a>
              </li>
              
              <li>
                <a href="">
                  Sinus cancer, see Nasal and sinus cancer
                </a>
              </li>
              
              <li>
                <a href="">
                  Sinusitis (sinus infection)
                </a>
              </li>
              
              <li>
                <a href="">
                  Sinusitis, see Sinusitis (sinus infection)
                </a>
              </li>
              
              <li>
                <a href="">
                  Sore lips, see Sore or dry lips
                </a>
              </li>
              
              <li>
                <a href="">
                  Sore or dry lips
                </a>
              </li>
              
              <li>
                <a href="">
                  Sore or white tongue
                  
                </a>
              </li>

              <li>
                <a href="">
                  Sore throat
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        

        <!-- T -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="T">T</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Teeth grinding (bruxism)
                </a>
              </li>
              
              <li>
                <a href="">
                  Teeth whitening
                </a>
              </li>
              
              <li>
                <a href="">
                  Temporomandibular disorder (TMD)
                </a>
              </li>
              
              <li>
                <a href="">
                  Throat (sore), see Sore throat
                </a>
              </li>
              
              <li>
                <a href="">
                  Tinnitus
                </a>
              </li>
              
              <li>
                <a href="">
                  Tongue (sore or white), see Sore or white tongue
                </a>
              </li>
              
              <li>
                <a href="">
                  Tongue-tie
                </a>
              </li>
              
              <li>
                <a href="">
                  Tonsillitis
                </a>
              </li>
                            
              <li>
                <a href="">
                  Tooth (chipped or broken), see Chipped, broken or cracked tooth
                </a>
              </li>
              
              <li>
                <a href="">
                  Tooth decay
                </a>
              </li>
              
              <li>
                <a href="">
                  Tooth knocked out, see Knocked-out tooth
                </a>
              </li>
              
              <li>
                <a href="">
                  Toothache
                </a>
              </li>
                            
              <li>
                <a href="">
                  Tracheostomy
                </a>
              </li>
            </ul>
  
          </div>
        </div>


        <!-- V -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="V">V</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Vertigo
                </a>
              </li>
              
              <li>
                <a href="">
                  Vestibular neuritis, see Labyrinthitis and vestibular neuritis
                </a>
              </li>
              
              <li>
                <a href="">
                  Vestibular schwannoma, see Acoustic neuroma (vestibular schwannoma)
                </a>
              </li>
            </ul>
  
          </div>
        </div>


        <!-- W -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="W">W</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Wisdom tooth removal
                </a>
              </li>
            </ul>
  
          </div>
        </div>

      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
