
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Eyes - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../health-a-to-z_v4" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-by-health-topics" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-by-health-topics" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Eyes</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Includes eye symptoms and injuries, conditions affecting the eyes and vision, and tests and procedures</p>
      </div>
    </div>


    <article>

      
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Age-related cataracts
              </a>
            </li>
            
            <li>
              <a href="">
                Age-related macular degeneration (AMD)
              </a>
            </li>
            
            <li>
              <a href="">
                Amblyopia, see Lazy eye
              </a>
            </li>
            
            <li>
              <a href="">
                Astigmatism
              </a>
            </li>
            
          </ul>





        </div>
      </div>

      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="B">B</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Black eye
              </a>
            </li>
            
            <li>
              <a href="">
                Blepharitis
              </a>
            </li>
            
            <li>
              <a href="">
                Blindness and vision loss
              </a>
            </li>
            
            <li>
              <a href="">
                Bulging eyes (exophthalmos)
              </a>
            </li>
            
          </ul>

        </div>
      </div>

      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="C">C</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Cataract surgery
              </a>
            </li>
            
            <li>
              <a href="">
                Cataracts (age-related), see Age-related cataracts
              </a>
            </li>
            
            <li>
              <a href="">
                Cataracts (children), see Childhood cataracts
              </a>
            </li>
            
            <li>
              <a href="">
                Childhood cataracts
              </a>
            </li>
            
            <li>
              <a href="">
                Colour blindness, see Colour vision deficiency (colour blindness)
              </a>
            </li>

            <li>
              <a href="">
                Colour vision deficiency (colour blindness)
              </a>
            </li>
            
            <li>
              <a href="">
                Conjunctivitis
              </a>
            </li>
            
            <li>
              <a href="">
                Cornea transplant
              </a>
            </li>
          </ul>

        </div>
      </div>

      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="D">D</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Deafblindness
              </a>
            </li>

            <li>
              <a href="">
                Detached retina (retinal detachment)
              </a>
            </li>
            
            <li>
              <a href="">
                Diabetic eye screening
              </a>
            </li>
            
            <li>
              <a href="">
                Diabetic retinopathy
              </a>
            </li>
            
            <li>
              <a href="">
                Double vision
              </a>
            </li>
            
            <li>
              <a href="">
                Dry eyes
              </a>
            </li>
            
          </ul>

        </div>
      </div>


      
      
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="E">E</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Ectropion
              </a>
            </li>
            
            <li>
              <a href="">
                Eye cancer
              </a>
            </li>
            
            <li>
              <a href="">
                Eye cancer in children, see Retinoblastoma
              </a>
            </li>
            
            <li>
              <a href="">
                Eye flashes, see Floaters and flashes in the eyes
              </a>
            </li>
            
            <li>
              <a href="">
                Eye floaters, see Floaters and flashes in the eyes
              </a>
            </li>
            
            <li>
              <a href="">
                Eye infection (herpes), see Herpes simplex eye infections
              </a>
            </li>

            <li>
              <a href="">
                Eye injuries
              </a>
            </li>

            <li>
              <a href="">
                Eye tests for children
              </a>
            </li>

            <li>
              <a href="">
                Eyelid problems
              </a>
            </li>
            
          </ul>

        </div>
      </div>


      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="L">L</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Glaucoma
              </a>
            </li>
            <li>
              <a href="">
                Lazy eye
              </a>
            </li>
            <li>
              <a href="">
                Long-sightedness
              </a>
            </li>
          </ul>
        </div>
      </div> 


      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="F">F</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Floaters and flashes in the eyes
              </a>
            </li>
          </ul>
        </div>
      </div> 
      
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="G">G</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Glaucoma
              </a>
            </li>
          </ul>
        </div>
      </div> 

      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="L">L</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Laser eye surgery and lens surgery
              </a>
            </li>
            <li>
              <a href="">
                Lazy eye
              </a>
            </li>
            <li>
              <a href="">
                Long-sightedness
              </a>
            </li>
          </ul>
        </div>
      </div> 
      
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="M">M</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Macular degeneration (age-related), see Age-related macular degeneration (AMD)
              </a>
            </li>
            <li>
              <a href="">
                Macular hole
              </a>
            </li>
            <li>
              <a href="">
                Myopia, see Short-sightedness (myopia)
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="R">R</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Red eye
              </a>
            </li>
            <li>
              <a href="">
                Retinal detachment, see Detached retina (retinal detachment)
              </a>
            </li>
            <li>
              <a href="">
                Retinal migraine
              </a>
            </li>
            <li>
              <a href="">
                Retinoblastoma
              </a>
            </li>
          </ul>

        </div>
      </div>


      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="S">S</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Short-sightedness (myopia)
              </a>
            </li>
            <li>
              <a href="">
                Squint
              </a>
            </li>
            <li>
              <a href="">
                Stye
              </a>
            </li>
          </ul>

        </div>
      </div>

      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="T">T</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Twitching eyes and muscles
              </a>
            </li>
            
          </ul>

        </div>
      </div>

      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="U">U</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Uveitis
              </a>
            </li>
            
          </ul>

        </div>
      </div>

      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="W">W</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Watering eyes
              </a>
            </li>
            
          </ul>

        </div>
      </div>


    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
