
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Heart and circulation - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-by-health-topics" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-by-health-topics" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Heart and circulation</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Includes heart conditions, high and low blood pressure, blood clots, and tests and treatments</p>
      </div>
    </div>


    <article>
      <section>


        <!-- A -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  AAA screening, see Abdominal aortic aneurysm screening
                </a>
              </li>
              
              <li>
                <a href="">
                  AAA, see Abdominal aortic aneurysm
                </a>
              </li>
              
              <li>
                <a href="">
                  Abdominal aortic aneurysm
                </a>
              </li>
              
              <li>
                <a href="">
                  Abdominal aortic aneurysm screening
                </a>
              </li>
              
              <li>
                <a href="">
                  Aneurysm (abdominal aortic), see Abdominal aortic aneurysm
                </a>
              </li>
              
              <li>
                <a href="">
                  Aneurysm (brain), see Brain aneurysm
                </a>
              </li>
              
              <li>
                <a href="">
                  Angina
                </a>
              </li>
              
              <li>
                <a href="">
                  Angiography
                </a>
              </li>

              <li>
                <a href="">
                  Angioplasty, see Coronary angioplasty and stent insertion
                </a>
              </li>
              
              <li>
                <a href="">
                  Aortic valve replacement
                </a>
              </li>
              
              <li>
                <a href="">
                  Arrhythmia
                </a>
              </li>
              
              <li>
                <a href="">
                  Atherosclerosis
                </a>
              </li>
              
              <li>
                <a href="">
                  Atrial fibrillation
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        
        <!-- B -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="B">B</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Behçet's disease
                </a>
              </li>
              
              <li>
                <a href="">
                  Blood clots
                </a>
              </li>
              
              <li>
                <a href="">
                  Blood pressure (low), see Low blood pressure (hypotension)
                </a>
              </li>
              
              <li>
                <a href="">
                  Blood pressure test
                </a>
              </li>
              
              <li>
                <a href="">
                  Brugada syndrome
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        

        <!-- C -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="C">C</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  CABG, see Coronary artery bypass graft
                </a>
              </li>
              
              <li>
                <a href="">
                  Cardiac catheterisation and coronary angiography
                </a>
              </li>
              
              <li>
                <a href="">
                  Cardiomyopathy
                </a>
              </li>
              
              <li>
                <a href="">
                  Cardiovascular disease
                </a>
              </li>
              
              <li>
                <a href="">
                  Carotid endarterectomy
                </a>
              </li>
              
              <li>
                <a href="">
                  Cavernoma
                </a>
              </li>
              
              <li>
                <a href="">
                  Chest pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Cholesterol (high), see High cholesterol
                </a>
              </li>

              <li>
                <a href="">
                  Congenital heart disease
                </a>
              </li>
              
              <li>
                <a href="">
                  Coronary angioplasty and stent insertion
                </a>
              </li>
              
              <li>
                <a href="">
                  Coronary artery bypass graft
                </a>
              </li>
              
              <li>
                <a href="">
                  Coronary heart disease
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        
        
        <!-- D -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="D">D</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Do not attempt cardiopulmonary resuscitation (DNACPR) decisions
                </a>
              </li>
              
              <li>
                <a href="">
                  DVT (deep vein thrombosis)
                </a>
              </li>
            </ul>
  
          </div>
        </div>


        <!-- E -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="E">E</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Echocardiogram
                </a>
              </li>
              
              <li>
                <a href="">
                  Ectopic beats, see Heart palpitations
                </a>
              </li>
              
              <li>
                <a href="">
                  Electrocardiogram (ECG)
                </a>
              </li>
              
              <li>
                <a href="">
                  Electroencephalogram (EEG)
                </a>
              </li>
              
              <li>
                <a href="">
                  Endocarditis
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        
        
        <!-- G -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="G">G</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Giant cell arteritis, see Temporal arteritis
                </a>
              </li>
              
              <li>
                <a href="">
                  Granulomatosis with polyangiitis (GPA)
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        
        
        <!-- H -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="H">H</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Heart attack
                </a>
              </li>
              
              <li>
                <a href="">
                  Heart block
                </a>
              </li>
              
              <li>
                <a href="">
                  Heart bypass, see Coronary artery bypass graft
                </a>
              </li>
              
              <li>
                <a href="">
                  Heart disease (coronary), see Coronary heart disease
                </a>
              </li>
              
              <li>
                <a href="">
                  Heart failure
                </a>
              </li>
              
              <li>
                <a href="">
                  Heart pain, see Chest pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Heart palpitations
                </a>
              </li>

              <li>
                <a href="">
                  Heart rhythm problems, see Arrhythmia
                </a>
              </li>

              <li>
                <a href="">
                  Heart valve problems, see Mitral valve problems
                </a>
              </li>
              
              <li>
                <a href="">
                  Heart valve replacement, see Aortic valve replacement
                </a>
              </li>
              
              <li>
                <a href="">
                  Hereditary haemorrhagic telangiectasia (HHT)
                </a>
              </li>
              
              <li>
                <a href="">
                  High blood pressure
                </a>
              </li>
              
              <li>
                <a href="">
                  High cholesterol
                </a>
              </li>
              
              <li>
                <a href="">
                  Hypertension, see High blood pressure
                </a>
              </li>
              
              <li>
                <a href="">
                  Hypotension, see Low blood pressure (hypotension)
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        
        
        <!-- L -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="L">L</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Long QT syndrome
                </a>
              </li>
              
              <li>
                <a href="">
                  Low blood pressure (hypotension)
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        
        <!-- M -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="M">M</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Mitral valve problems
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        
        
        <!-- P -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="P">P</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Pacemaker implantation
                </a>
              </li>
              
              <li>
                <a href="">
                  Palpitations, see Heart palpitations
                </a>
              </li>
              
              <li>
                <a href="">
                  Pericarditis
                </a>
              </li>
              
              <li>
                <a href="">
                  Peripheral arterial disease (PAD)
                </a>
              </li>
              
              <li>
                <a href="">
                  Postural tachycardia syndrome (PoTS)
                </a>
              </li>
            </ul>
  
          </div>
        </div>
      
        <!-- R -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="R">R</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Raynaud's
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        
        
        <!-- S -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="S">S</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Stent insertion, see Coronary angioplasty and stent insertion
                </a>
              </li>
              
              <li>
                <a href="">
                  Supraventricular tachycardia (SVT)
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        
        <!-- T -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="T">T</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Temporal arteriti
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- V -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="V">V</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Varicose veins
                </a>
              </li>
              
              <li>
                <a href="">
                  Vasculitis
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- W -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="W">W</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Wolff-Parkinson-White syndrome
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <br>
        <p><a href="https://www.nhs.uk/conditions">Browse all A to Z topics</a></p>
      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
