

{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Lungs and breathing - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-by-health-topics" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-by-health-topics" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Lungs and breathing</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Includes lung conditions such as asthma, and breathing problems such as cough and shortness of breath</p>
      </div>
    </div>


    <article>
      <section class="nhsuk-u-reading-width">

          <!-- A -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Acute respiratory distress syndrome (ARDS)
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Asbestosis
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Aspergillosis
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Asthma
                  </a>
                </li>
              
              </ul>
    
            </div>
          </div>
          
          <!-- B -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="B">B</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Breath-holding in babies and children
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Bronchiectasis
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Bronchiolitis
                  </a>
                </li>
                
              </ul>
    
            </div>
          </div>
          
          <!-- C -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="C">C</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Catarrh
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Chest infection
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Chronic obstructive pulmonary disease (COPD)
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Cough
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Coughing up blood (blood in phlegm)
                  </a>
                </li>
    
                <li>
                  <a href="">
                    Croup
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Cystic fibrosis
                  </a>
                </li>

              </ul>
    
            </div>
          </div>

          <!-- E -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="E">E</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Empyema
                  </a>
                </li>
                
              </ul>
    
            </div>
          </div>
          
          <!-- H -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="H">H</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Home oxygen therapy
                  </a>
                </li>
              </ul>
    
            </div>
          </div>

          <!-- I -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="I">I</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Idiopathic pulmonary fibrosis
                  </a>
                </li>
              </ul>
    
            </div>
          </div>

          <!-- L -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="L">L</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Lung cancer
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Lung health checks
                  </a>
                </li>
              </ul>
    
            </div>
          </div>
          
          <!-- M -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="M">M</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Mesothelioma
                  </a>
                </li>
              </ul>
    
            </div>
          </div>
          
          <!-- N -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="N">N</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Newborn respiratory distress syndrome
                  </a>
                </li>
              </ul>
    
            </div>
          </div>

          <!-- O -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="O">O</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Obstructive sleep apnoea, see Sleep apnoea
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Oxygen therapy, see Home oxygen therapy
                  </a>
                </li>
              </ul>
    
            </div>
          </div>

          <!-- P -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="P">P</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Peak flow test
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Pleurisy
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Pulmonary embolism
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Pulmonary fibrosis, see Idiopathic pulmonary fibrosis
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Pulmonary hypertension
                  </a>
                </li>

              </ul>
    
            </div>
          </div>

          <!-- S -->
          <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="S">S</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Shortness of breath
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Silicosis
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Sleep apnoea
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Snoring
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Spirometry
                  </a>
                </li>
    
              </ul>
    
            </div>
          </div>
          

      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
