
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Muscles, bones and joints - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-by-health-topics" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-by-health-topics" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}

<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Muscles, bones and joints</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Includes injuries, broken bones, pain symptoms and conditions such as arthritis and osteoporosis</p>
      </div>
    </div>

    <article>
      <section class="nhsuk-u-reading-width">

        <!-- A -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Acromegaly
                </a>
              </li>
              
              <li>
                <a href="">
                  Alexander technique
                </a>
              </li>
              
              <li>
                <a href="">
                  Amputation
                </a>
              </li>
              
              <li>
                <a href="">
                  Ankle pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Ankylosing spondylitis
                </a>
              </li>
              
              <li>
                <a href="">
                  Arthritis
                </a>
              </li>
              
              <li>
                <a href="">
                  Arthroscopy
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        
        <!-- B -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="B">B</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Back pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Baker's cyst
                </a>
              </li>
              
              <li>
                <a href="">
                  Bone cancer
                </a>
              </li>
              
              <li>
                <a href="">
                  Bone cyst
                </a>
              </li>
              
              <li>
                <a href="">
                  Bone density scan (DEXA scan)
                </a>
              </li>

              <li>
                <a href="">
                  Brachycephaly and plagiocephaly, see Plagiocephaly and brachycephaly (flat head syndrome)
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken ankle
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken arm or wrist
        
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken collarbone
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken finger or thumb
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken hip
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken leg
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken nose
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken or bruised ribs
                </a>
              </li>
              
              <li>
                <a href="">
                  Broken toe
                </a>
              </li>
              
              <li>
                <a href="">
                  Bunions
                </a>
              </li>

              <li>
                <a href="">
                  Bursitis
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        
        
        <!-- C -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="C">C</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Carpal tunnel syndrome
                </a>
              </li>
              
              <li>
                <a href="">
                  Cervical spondylosis
                </a>
              </li>
              
              <li>
                <a href="">
                  Chiropractic
                </a>
              </li>
              
              <li>
                <a href="">
                  Club foot
                </a>
              </li>
              
              <li>
                <a href="">
                  Coccyx pain, see Tailbone (coccyx) pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Compartment syndrome
                </a>
              </li>
              
              <li>
                <a href="">
                  Complex regional pain syndrome
                </a>
              </li>
              
              <li>
                <a href="">
                  Congenital hip dislocation, see Developmental dysplasia of the hip
                </a>
              </li>
              
              <li>
                <a href="">
                  Costochondritis
                </a>
              </li>
              
              <li>
                <a href="">
                  Craniosynostosis
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        

        <!-- D -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="D">D</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Developmental dysplasia of the hip
                </a>
              </li>
              
              <li>
                <a href="">
                  DEXA scan, see Bone density scan (DEXA scan)
                </a>
              </li>
              
              <li>
                <a href="">
                  Dislocated kneecap
                </a>
              </li>
              
              <li>
                <a href="">
                  Dislocated shoulder
                </a>
              </li>
              
              <li>
                <a href="">
                  Dupuytren's contracture
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        

        <!-- E -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="E">E</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Ehlers-Danlos syndromes
                </a>
              </li>
              
              <li>
                <a href="">
                  Elbow and arm pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Essential tremor, see Tremor or shaking hands
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        

        <!-- F -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="F">F</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Falls
                </a>
              </li>
              
              <li>
                <a href="">
                  Finger pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Flat feet
                </a>
              </li>
              
              <li>
                <a href="">
                  Flat head syndrome, see Plagiocephaly and brachycephaly (flat head syndrome)
                </a>
              </li>
              
              <li>
                <a href="">
                  Foot drop
                </a>
              </li>
              
              <li>
                <a href="">
                  Foot pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Frozen shoulder
                </a>
              </li>
            </ul>
  
          </div>
        </div>


        <!-- G -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="G">G</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Ganglion cyst
                </a>
              </li>
              
              <li>
                <a href="">
                  Gigantism, see Acromegaly
                </a>
              </li>
              
              <li>
                <a href="">
                  Gout
                </a>
              </li>
              
              <li>
                <a href="">
                  Growing pains
                </a>
              </li>
            </ul>
  
          </div>
        </div>


        <!-- H -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="H">H</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Hamstring injury
                </a>
              </li>
              
              <li>
                <a href="">
                  Hand pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Hand tendon repair
                </a>
              </li>
              
              <li>
                <a href="">
                  Heel pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Hip dysplasia, see Developmental dysplasia of the hip
                </a>
              </li>
              
              <li>
                <a href="">
                  Hip pain in adults
                </a>
              </li>
              
              <li>
                <a href="">
                  Hip pain in children (irritable hip)
                </a>
              </li>
              
              <li>
                <a href="">
                  Hip replacement
                </a>
              </li>
            </ul>
  
          </div>
        </div>


        <!-- I -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="I">I</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Irritable hip, see Hip pain in children (irritable hip)
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        
        
        <!-- J -->
        <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="J">J</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Joint hypermobility syndrome
              </a>
            </li>
            
            <li>
              <a href="">
                Joint pain
              </a>
            </li>
          </ul>

        </div>
        </div>


      <!-- K -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="K">K</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Knee cartilage damage, see Meniscus tear (knee cartilage damage)
              </a>
            </li>
            
            <li>
              <a href="">
                Knee ligament surgery
              </a>
            </li>
            
            <li>
              <a href="">
                Knee pain
              </a>
            </li>
            
            <li>
              <a href="">
                Knee replacement
              </a>
            </li>
            
            <li>
              <a href="">
                Knock knees
              </a>
            </li>
            
            <li>
              <a href="">
                Kyphosis
              </a>
            </li>
          </ul>

        </div>
      </div>
      

      <!-- L -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="L">L</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Leg cramps
              </a>
            </li>
            
            <li>
              <a href="">
                Limping in children
              </a>
            </li>
            
            <li>
              <a href="">
                Lower back pain, see Back pain
              </a>
            </li>
            
            <li>
              <a href="">
                Lumbago, see Back pain
              </a>
            </li>
            
            <li>
              <a href="">
                Lumbar decompression surgery
              </a>
            </li>
          </ul>

        </div>
      </div>
      

      <!-- M -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="M">M</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Mallet finger
              </a>
            </li>
            
            <li>
              <a href="">
                Marfan syndrome
              </a>
            </li>
            
            <li>
              <a href="">
                Meniscus tear (knee cartilage damage)
              </a>
            </li>
            
            <li>
              <a href="">
                Metatarsalgia, see Pain in the ball of the foot
              </a>
            </li>
            
            <li>
              <a href="">
                Muscular dystrophy
              </a>
            </li>
            
            <li>
              <a href="">
                Myasthenia gravis
              </a>
            </li>
            
            <li>
              <a href="">
                Myositis
              </a>
            </li>
          </ul>

        </div>
      </div>

      
      <!-- N -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="N">N</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Nail patella syndrome
              </a>
            </li>
            
            <li>
              <a href="">
                Neck pain
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
      </div>
      

      <!-- O -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="O">O</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Osteoarthritis
              </a>
            </li>
            
            <li>
              <a href="">
                Osteomalacia, see Rickets and osteomalacia
              </a>
            </li>
            
            <li>
              <a href="">
                Osteomyelitis
              </a>
            </li>
            
            <li>
              <a href="">
                Osteopathy
              </a>
            </li>
            
            <li>
              <a href="">
                Osteophyte (bone spur)
              </a>
            </li>
            
            <li>
              <a href="">
                Osteoporosis
              </a>
            </li>
          </ul>

        </div>
      </div>
      

      <!-- P -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="P">P</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Paget's disease of bone
              </a>
            </li>
            
            <li>
              <a href="">
                Pain in the back of the hand
              </a>
            </li>
            
            <li>
              <a href="">
                Pain in the ball of the foot
              </a>
            </li>
            
            <li>
              <a href="">
                Pain in the bottom of the foot
              </a>
            </li>
            
            <li>
              <a href="">
                Pain in the palm of the hand
              </a>
            </li>
            
            <li>
              <a href="">
                Pain in the top of the foot
              </a>
            </li>
            
            <li>
              <a href="">
                Pelvic pain
              </a>
            </li>
            
            <li>
              <a href="">
                Physiotherapy
              </a>
            </li>
            
            <li>
              <a href="">
                Plagiocephaly and brachycephaly (flat head syndrome)
              </a>
            </li>
            
            <li>
              <a href="">
                Plantar fasciitis
              </a>
            </li>
            
            <li>
              <a href="">
                Polymyalgia rheumatica
              </a>
            </li>
            
            <li>
              <a href="">
                Popliteal cyst, see Baker's cyst
              </a>
            </li>
            
            <li>
              <a href="">
                Psoriatic arthritis
              </a>
            </li>
          </ul>

        </div>
      </div>
      
      
      <!-- R -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="R">R</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Reactive arthritis
              </a>
            </li>
            
            <li>
              <a href="">
                Repetitive strain injury (RSI)
              </a>
            </li>
            
            <li>
              <a href="">
                Rheumatoid arthritis
              </a>
            </li>
            
            <li>
              <a href="">
                Rickets and osteomalacia
              </a>
            </li>
          </ul>

        </div>
      </div>
      

      <!-- S -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="S">S</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Scoliosis
              </a>
            </li>
            
            <li>
              <a href="">
                Septic arthritis
              </a>
            </li>
            
            <li>
              <a href="">
                Shaking, see Tremor or shaking hands
              </a>
            </li>
            
            <li>
              <a href="">
                Shin pain (shin splints), see Shin splints
              </a>
            </li>
            
            <li>
              <a href="">
                Shin splints
              </a>
            </li>
            
            <li>
              <a href="">
                Shoulder impingement
              </a>
            </li>
            
            <li>
              <a href="">
                Shoulder pain
              </a>
            </li>
            
            <li>
              <a href="">
                Slipped disc
              </a>
            </li>
            
            <li>
              <a href="">
                Spina bifida
              </a>
            </li>
            
            <li>
              <a href="">
                Spinal muscular atrophy (SMA)
              </a>
            </li>
            
            <li>
              <a href="">
                Spondylolisthesis
              </a>
            </li>
            
            <li>
              <a href="">
                Sprains and strains
              </a>
            </li>
          </ul>

        </div>
      </div>
      

      <!-- T -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="T">T</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Tailbone (coccyx) pain
              </a>
            </li>
            
            <li>
              <a href="">
                Tendonitis
              </a>
            </li>
            
            <li>
              <a href="">
                Tennis elbow
              </a>
            </li>
            <li>
              <a href="">
                Tension headaches
              </a>
            </li>
            
            <li>
              <a href="">
                Thumb pain
              </a>
            </li>
            
            <li>
              <a href="">
                Toe pain
              </a>
            </li>
            
            <li>
              <a href="">
                Tremor or shaking hands
              </a>
            </li>
            
            <li>
              <a href="">
                Tremor, see Tremor or shaking hands
              </a>
            </li>
            
            <li>
              <a href="">
                Trigger finger
              </a>
            </li>

          </ul>

        </div>
      </div>


      <!-- U -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="U">U</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Upper back pain, see Back pain
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- W -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="W">W</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Whiplash

              </a>
            </li>
            
            <li>
              <a href="">
                Wrist pain
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- X -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="X">X</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                X-ray
              </a>
            </li>
          </ul>

        </div>
      </div>

      <br>
      <p><a href="https://www.nhs.uk/conditions">Browse all A to Z topics</a></p>
      
      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
