
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Skin - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-by-health-topics" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-by-health-topics" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Skin</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Includes skin conditions, skin injuries and symptoms such as rashes, lumps and itching</p>
      </div>
    </div>


    <article>
      <section>
        
        <!-- A -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Acanthosis nigricans
                </a>
              </li>
              
              <li>
                <a href="">
                  Acid and chemical burns
                </a>
              </li>
              
              <li>
                <a href="">
                  Acne
                </a>
              </li>
              
              <li>
                <a href="">
                  Actinic keratoses (solar keratoses)
                </a>
              </li>
              
              <li>
                <a href="">
                  Albinism
                </a>
              </li>
              
              <li>
                <a href="">
                  Angioedema
                </a>
              </li>
              
              <li>
                <a href="">
                  Animal and human bites
                </a>
              </li>
              
              <li>
                <a href="">
                  Anus (itchy), see Itchy bottom
                </a>
              </li>
              
              <li>
                <a href="">
                  Athlete's foot
                </a>
              </li>
              
              <li>
                <a href="">
                  Atopic eczema
                </a>
              </li>
            </ul>
  
          </div>
        </div>


        <!-- B -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="B">B</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Birthmarks
                </a>
              </li>
              
              <li>
                <a href="">
                  Bite (animal or human), see Animal and human bites
                </a>
              </li>
              
              <li>
                <a href="">
                  Blisters
                </a>
              </li>
              
              <li>
                <a href="">
                  Blue or grey skin or lips (cyanosis)
                </a>
              </li>
              
              <li>
                <a href="">
                  Blushing
                </a>
              </li>
              
              <li>
                <a href="">
                  Boils
                </a>
              </li>
              
              <li>
                <a href="">
                  Bowen's disease
                </a>
              </li>
              
              <li>
                <a href="">
                  Bullous pemphigoid
                </a>
              </li>
              
              <li>
                <a href="">
                  Burns and scalds
                </a>
              </li>
              
            </ul>
  
          </div>
        </div>
        
        
        <!-- C -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="C">C</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Cat bites, see Animal and human bites
                </a>
              </li>
              
              <li>
                <a href="">
                  Cellulitis
                </a>
              </li>
              
              <li>
                <a href="">
                  Chilblains
                </a>
              </li>
              
              <li>
                <a href="">
                  Contact dermatitis
                </a>
              </li>
              
              <li>
                <a href="">
                  Corns and calluses
                </a>
              </li>
              
              <li>
                <a href="">
                  Cradle cap
                </a>
              </li>
              
              <li>
                <a href="">
                  Cuts and grazes
                </a>
              </li>
              
              <li>
                <a href="">
                  Cyanosis, see Blue or grey skin or lips (cyanosis)
                </a>
              </li>
            </ul>
  
          </div>
        </div>


        <!-- D -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="D">D</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Dandruff
                </a>
              </li>
              
              <li>
                <a href="">
                  Discoid eczema
                </a>
              </li>
              
              <li>
                <a href="">
                  Dog bites, see Animal and human bites
                </a>
              </li>
            </ul>
  
          </div>
        </div>


        <!-- E -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="E">E</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Eczema (atopic), see Atopic eczema
                </a>
              </li>
              
              <li>
                <a href="">
                  Eczema (contact dermatitis), see Contact dermatitis
                </a>
              </li>
              
              <li>
                <a href="">
                  Eczema (discoid), see Discoid eczema
                </a>
              </li>
              
              <li>
                <a href="">
                  Eczema (varicose), see Varicose eczema
                </a>
              </li>
              
              <li>
                <a href="">
                  Erythema multiforme
                </a>
              </li>
              
              <li>
                <a href="">
                  Erythema nodosum
                </a>
              </li>
              
              <li>
                <a href="">
                  Erythromelalgia 
                </a>
              </li>
            </ul>
  
          </div>
        </div>


        <!-- F -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="F">F</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Frostbite
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- G -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="G">G</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Granuloma annulare
                </a>
              </li>
            </ul>
  
          </div>
        </div>


        <!-- H -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="H">H</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Heat rash (prickly heat)
                </a>
              </li>
              
              <li>
                <a href="">
                  Henoch-Schönlein purpura (HSP)
                </a>
              </li>
              
              <li>
                <a href="">
                  Hidradenitis suppurativa (HS)
                </a>
              </li>
              
              <li>
                <a href="">
                  Hives
                </a>
              </li>
              
              <li>
                <a href="">
                  Human bites, see Animal and human bites
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        
        <!-- I -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="I">I</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Ichthyosis
                </a>
              </li>
              
              <li>
                <a href="">
                  Infected piercings
                </a>
              </li>
              
              <li>
                <a href="">
                  Ingrown hairs
                </a>
              </li>
              
              <li>
                <a href="">
                  Insect bites and stings
                </a>
              </li>
              
              <li>
                <a href="">
                  Itchy bottom
                </a>
              </li>
              
              <li>
                <a href="">
                  Itchy skin
                </a>
              </li>
            </ul>
  
          </div>
        </div>


        <!-- J -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="J">J</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Jaundice
                </a>
              </li>
              
              <li>
                <a href="">
                  Jaundice in newborns, see Newborn jaundice
                </a>
              </li>
              
              <li>
                <a href="">
                  Jellyfish and other sea creature stings
                </a>
              </li>
            </ul>

          </div>
        </div>
        
        
      <!-- K -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="K">K</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Keloid scars
              </a>
            </li>
            
            <li>
              <a href="">
                Keratosis pilaris
              </a>
            </li>
          </ul>

        </div>
      </div>


      <!-- L -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="L">L</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Leg ulcer, see Venous leg ulcer
              </a>
            </li>
            
            <li>
              <a href="">
                Lichen planus
              </a>
            </li>
            
            <li>
              <a href="">
                Lichen sclerosus
              </a>
            </li>
            
            <li>
              <a href="">
                Lipoma
              </a>
            </li>
            
            <li>
              <a href="">
                Lumps
              </a>
            </li>
          </ul>

        </div>
      </div>
      
      
      <!-- M -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="M">M</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Mastocytosis
              </a>
            </li>
            
            <li>
              <a href="">
                Melanoma skin cancer
              </a>
            </li>
            
            <li>
              <a href="">
                Moles
              </a>
            </li>
          </ul>

        </div>
      </div>
      

      <!-- N -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="N">N</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Nappy rash
              </a>
            </li>
            
            <li>
              <a href="">
                Newborn jaundice
              </a>
            </li>
            
            <li>
              <a href="">
                Non-melanoma skin cancer
              </a>
            </li>
          </ul>

        </div>
      </div>
      

      <!-- P -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="P">P</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Paget's disease of the nipple
              </a>
            </li>
            
            <li>
              <a href="">
                Pemphigus vulgaris
              </a>
            </li>
            
            <li>
              <a href="">
                Penis lumps and spots
              </a>
            </li>
            
            <li>
              <a href="">
                Phlebitis (superficial thrombophlebitis)
              </a>
            </li>
            
            <li>
              <a href="">
                Pilonidal sinus
              </a>
            </li>
            
            <li>
              <a href="">
                Pityriasis rosea
              </a>
            </li>
            
            <li>
              <a href="">
                Pityriasis versicolor
              </a>
            </li>
            
            <li>
              <a href="">
                Polymorphic light eruption
              </a>
            </li>
            
            <li>
              <a href="">
                Pompholyx (dyshidrotic eczema)
              </a>
            </li>
            
            <li>
              <a href="">
                Pressure ulcers (pressure sores)
              </a>
            </li>
            
            <li>
              <a href="">
                Prickly heat, see Heat rash (prickly heat)
              </a>
            </li>
            
            <li>
              <a href="">
                Psoriasis
              </a>
            </li>
            
            <li>
              <a href="">
                Pyoderma gangrenosum
              </a>
            </li>
          </ul>

        </div>
      </div>

      
      <!-- R -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="R">R</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Rashes in babies and children
              </a>
            </li>
            
            <li>
              <a href="">
                Rosacea
              </a>
            </li>
          </ul>

        </div>
      </div>
    
      
      <!-- S -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="S">S</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Scars
              </a>
            </li>
            
            <li>
              <a href="">
                Scleroderma
              </a>
            </li>
            
            <li>
              <a href="">
                Skin abscess
              </a>
            </li>
            
            <li>
              <a href="">
                Skin cancer (melanoma), see Melanoma skin cancer
              </a>
            </li>
            
            <li>
              <a href="">
                Skin cyst
              </a>
            </li>
            
            <li>
              <a href="">
                Skin tags
              </a>
            </li>
            
            <li>
              <a href="">
                Snake bites
              </a>
            </li>
            
            <li>
              <a href="">
                Solar keratoses, see Actinic keratoses (solar keratoses)
              </a>
            </li>

            <li>
              <a href="">
                Stevens-Johnson syndrome
              </a>
            </li>
            
            <li>
              <a href="">
                Sting or bite (insect), see Insect bites and stings
              </a>
            </li>
            
            <li>
              <a href="">
                Stretch marks
              </a>
            </li>
            
            <li>
              <a href="">
                Sunburn
              </a>
            </li>
            
            <li>
              <a href="">
                Superficial thrombophlebitis, see Phlebitis (superficial thrombophlebitis)
              </a>
            </li>
            
            <li>
              <a href="">
                Sweat rash, see Heat rash (prickly heat)
              </a>
            </li>
            
            <li>
              <a href="">
                Swollen ankles, feet and legs (oedema)
              </a>
            </li>
            
            <li>
              <a href="">
                Swollen arms and hands (oedema)
              </a>
            </li>
          </ul>

        </div>
      </div>
      

      <!-- V -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="V">V</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Varicose eczema
              </a>
            </li>
            
            <li>
              <a href="">
                Venous leg ulcerVitiligo
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- W -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="W">W</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Warts and verrucas
              </a>
            </li>
          </ul>

        </div>
      </div>
      
      <br>
      <p><a href="https://www.nhs.uk/conditions">Browse all A to Z topics</a></p>

      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
