
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Skin - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-by-health-topics" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-by-health-topics" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Skin</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Includes symptoms such as diarrhoea and stomach ache, bowel conditions, tests and treatments</p>
      </div>
    </div>

    <article>
      <section class="nhsuk-u-reading-width">

        <!-- A -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Acid reflux in babies, see Reflux in babies
                </a>
              </li>
              
              <li>
                <a href="">
                  Acute cholecystitis
                </a>
              </li>
              
              <li>
                <a href="">
                  Acute pancreatitis
                </a>
              </li>
              
              <li>
                <a href="">
                  Anal fissure
                </a>
              </li>
              
              <li>
                <a href="">
                  Anal fistula
                </a>
              </li>
              
              <li>
                <a href="">
                  Appendicitis
                </a>
              </li>
            </ul>
  
          </div>
        </div>


        <!-- B -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="B">B</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Barium enema
                </a>
              </li>
              
              <li>
                <a href="">
                  Being sick, see Diarrhoea and vomiting
                </a>
              </li>
              
              <li>
                <a href="">
                  Bleeding from the bottom (rectal bleeding)
                </a>
              </li>
              
              <li>
                <a href="">
                  Bloating
                </a>
              </li>
              
              <li>
                <a href="">
                  Bowel incontinence
                </a>
              </li>
              
              <li>
                <a href="">
                  Bowel polyps
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        

        <!-- C -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="C">C</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Cholecystitis (acute), see Acute cholecystitis
                </a>
              </li>
              
              <li>
                <a href="">
                  Chronic pancreatitis
                </a>
              </li>
              
              <li>
                <a href="">
                  Coeliac disease
                </a>
              </li>
              
              <li>
                <a href="">
                  Colic
                </a>
              </li>
              
              <li>
                <a href="">
                  Colonoscopy
                </a>
              </li>
              
              <li>
                <a href="">
                  Colostomy
                </a>
              </li>
              
              <li>
                <a href="">
                  Constipation
                </a>
              </li>
              
              <li>
                <a href="">
                  Crohn's disease
                </a>
              </li>

              <li>
                <a href="">
                  Cyclical vomiting syndrome
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        

        <!-- D -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="D">D</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Diarrhoea and vomiting
                </a>
              </li>
              
              <li>
                <a href="">
                  Diarrhoea, see Diarrhoea and vomiting
                </a>
              </li>
              
              <li>
                <a href="">
                  Diverticular disease and diverticulitis
                </a>
              </li>
              
              <li>
                <a href="">
                  Dysphagia (swallowing problems)
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        
        <!-- E -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="E">E</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Endoscopy
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        

        <!-- F -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="F">F</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Farting (flatulence)
                </a>
              </li>
              
              <li>
                <a href="">
                  Feeling sick (nausea)
                </a>
              </li>
              
              <li>
                <a href="">
                  Flatulence, see Farting (flatulence)
                </a>
              </li>
              
              <li>
                <a href="">
                  Food allergy
                </a>
              </li>
              
              <li>
                <a href="">
                  Food intolerance
                </a>
              </li>
              
              <li>
                <a href="">
                  Food poisoning
                </a>
              </li>
            </ul>
  
          </div>
        </div>


        <!-- G -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="G">G</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Gallbladder pain, see Acute cholecystitis
                </a>
              </li>
              
              <li>
                <a href="">
                  Gallbladder removal
                </a>
              </li>
              
              <li>
                <a href="">
                  Gallstones
                </a>
              </li>
              
              <li>
                <a href="">
                  Gastrectomy
                </a>
              </li>
              
              <li>
                <a href="">
                  Gastritis
                </a>
              </li>
              
              <li>
                <a href="">
                  Gastroenteritis, see Diarrhoea and vomiting
                </a>
              </li>
              
              <li>
                <a href="">
                  Gastro-oesophageal reflux disease (GORD), see Heartburn and acid reflux
                </a>
              </li>
              
              <li>
                <a href="">
                  Gastroparesis
                </a>
              </li>

              <li>
                <a href="">
                  Gastroscopy
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        

        <!-- H -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="H">H</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Heartburn and acid reflux
                </a>
              </li>
              
              <li>
                <a href="">
                  Hiatus hernia
                </a>
              </li>
              
              <li>
                <a href="">
                  Hiccups
                </a>
              </li>
              
              <li>
                <a href="">
                  Hirschsprung's disease
                </a>
              </li>
              
              <li>
                <a href="">
                  How to collect a sample of poo (stool sample)
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        

        <!-- I -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="I">I</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  IBD, see Inflammatory bowel disease
                </a>
              </li>
              
              <li>
                <a href="">
                  IBS, see Irritable bowel syndrome (IBS)
                </a>
              </li>
              
              <li>
                <a href="">
                  Ileostomy
                </a>
              </li>
              
              <li>
                <a href="">
                  Indigestion
                </a>
              </li>
              
              <li>
                <a href="">
                  Inflammatory bowel disease
                </a>
              </li>
              
              <li>
                <a href="">
                  Irritable bowel syndrome (IBS)
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        

        <!-- L -->
        <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="L">L</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Lactose intolerance
              </a>
            </li>
          </ul>

        </div>
        </div>
        
        
      <!-- M -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="M">M</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Malnutrition
              </a>
            </li>
            
            <li>
              <a href="">
                Mucositis
              </a>
            </li>
          </ul>

        </div>
      </div>
      

      <!-- N -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="N">N</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Nausea, see Feeling sick (nausea)
              </a>
            </li>
          </ul>

        </div>
      </div>


      <!-- P -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="P">P</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Pancreatitis (acute), see Acute pancreatitis
              </a>
            </li>
            
            <li>
              <a href="">
                Pancreatitis (chronic), see Chronic pancreatitis
              </a>
            </li>
            
            <li>
              <a href="">
                Peritonitis
              </a>
            </li>
            
            <li>
              <a href="">
                Poisoning
              </a>
            </li>
            
            <li>
              <a href="">
                Probiotics
              </a>
            </li>
          </ul>

        </div>
      </div>


      <!-- R -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="R">R</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Rectal bleeding, see Bleeding from the bottom (rectal bleeding)
              </a>
            </li>
            
            <li>
              <a href="">
                Reflux in babies
              </a>
            </li>
          </ul>

        </div>
      </div>


      <!-- S -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="S">S</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Soiling (child pooing their pants)
              </a>
            </li>
            
            <li>
              <a href="">
                Stomach ache
              </a>
            </li>
            
            <li>
              <a href="">
                Stomach bug, see Diarrhoea and vomiting
              </a>
            </li>
            
            <li>
              <a href="">
                Stomach cancer
              </a>
            </li>
            
            <li>
              <a href="">
                Stomach ulcer
              </a>
            </li>
            
            <li>
              <a href="">
                Swallowing problems, see Dysphagia (swallowing problems)
              </a>
            </li>
          </ul>

        </div>
      </div>
      
      
      <!-- T -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="T">T</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Tummy ache, see Stomach ache
              </a>
            </li>
            
            <li>
              <a href="">
                Tummy bug, see Diarrhoea and vomiting
              </a>
            </li>
          </ul>

        </div>
      </div>
      
      <!-- U -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="U">U</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Ulcerative colitis
              </a>
            </li>
          </ul>

        </div>
      </div>

      
      <!-- V -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="V">V</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Vomiting blood
              </a>
            </li>
            
            <li>
              <a href="">
                Vomiting, see Diarrhoea and vomiting
              </a>
            </li>
          </ul>

        </div>
      </div>


      <!-- W -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="W">W</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Wind, see Farting (flatulence)
              </a>
            </li>
          </ul>

        </div>
      </div>

      <br>
      <p><a href="https://www.nhs.uk/conditions">Browse all A to Z topics</a></p>
      
      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
