
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
Tests and screening- NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-by-health-topics" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-by-health-topics" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}

<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Tests and screening</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Find out about tests and screening to diagnose or monitor health conditions, including what happens and results</p>
      </div>
    </div>

    <article>


      <section class="nhsuk-u-reading-width">

        <!-- A -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Abdominal aortic aneurysm screening
                </a>
              </li>
              
              <li>
                <a href="">
                  Amniocentesis
                </a>
              </li>
              
              <li>
                <a href="">
                  Angiography
                </a>
              </li>
              
              <li>
                <a href="">
                  Arthroscopy
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- B -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="B">B</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Barium enema
                </a>
              </li>
              
              <li>
                <a href="">
                  Biopsy
                </a>
              </li>
              
              <li>
                <a href="">
                  Blood pressure test
                </a>
              </li>
              
              <li>
                <a href="">
                  Blood tests
                </a>
              </li>
              
              <li>
                <a href="">
                  Bone density scan (DEXA scan)
                </a>
              </li>
              
              <li>
                <a href="">
                  Bowel cancer screening
                </a>
              </li>
              
              <li>
                <a href="">
                  Breast screening (mammogram)
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- C -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="C">C</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Cardiac catheterisation and coronary angiography
                </a>
              </li>
              
              <li>
                <a href="">
                  Cervical screening
                </a>
              </li>
              
              <li>
                <a href="">
                  Chorionic villus sampling
                </a>
              </li>
              
              <li>
                <a href="">
                  Colonoscopy
                </a>
              </li>
              
              <li>
                <a href="">
                  Colposcopy
                </a>
              </li>
              
              <li>
                <a href="">
                  CT scan
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- D -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="D">D</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Diabetic eye screening
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- E -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="E">E</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Echocardiogram
                </a>
              </li>
              
              <li>
                <a href="">
                  Electrocardiogram (ECG)
                </a>
              </li>
              
              <li>
                <a href="">
                  Electroencephalogram (EEG)
                </a>
              </li>
              
              <li>
                <a href="">
                  Electrolyte test
                </a>
              </li>
              
              <li>
                <a href="">
                  Eye tests for children
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- G -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="G">G</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Gastroscopy
                </a>
              </li>
              
              <li>
                <a href="">
                  Genetic and genomic testing
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- H -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="H">H</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Hearing tests
                </a>
              </li>
              
              <li>
                <a href="">
                  Hearing tests for children
                </a>
              </li>
              
              <li>
                <a href="">
                  Hysteroscopy
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- L -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="L">L</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Lactate dehydrogenase (LDH) test
                </a>
              </li>
              
              <li>
                <a href="">
                  Laparoscopy (keyhole surgery)
                </a>
              </li>
              
              <li>
                <a href="">
                  Lumbar puncture
                </a>
              </li>
              
              <li>
                <a href="">
                  Lung health checks
                </a>
              </li>
              
            </ul>
  
          </div>
        </div>

        <!-- M -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="M">M</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Magnesium test
                </a>
              </li>
              
              <li>
                <a href="">
                  MRI scan
                </a>
              </li>
            </ul>
  
          </div>
        </div>


        <!-- P -->
        <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="P">P</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Peak flow test
              </a>
            </li>
            
            <li>
              <a href="">
                PET scan
              </a>
            </li>
            
            <li>
              <a href="">
                Phosphate test
              </a>
            </li>
            
            <li>
              <a href="">
                Potassium test
              </a>
            </li>
            
            <li>
              <a href="">
                Predictive genetic tests for cancer risk genes
              </a>
            </li>
            
            <li>
              <a href="">
                PSA test
              </a>
            </li>
          </ul>

        </div>
        </div>

        <!-- R -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="R">R</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Rectal examination
                </a>
              </li>
              
              <li>
                <a href="">
                  Red blood cell count
                </a>
              </li>
            </ul>

          </div>
        </div>

        <!-- S -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="S">S</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Spirometry
                </a>
              </li>
            </ul>

          </div>
        </div>

        <!-- T -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="T">T</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Total iron-binding capacity (TIBC) and transferrin test
                </a>
              </li>
              
              <li>
                <a href="">
                  Total protein test
                </a>
              </li>
            </ul>

          </div>
        </div>

        <!-- U -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="U">U</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Ultrasound scan
                </a>
              </li>
              
              <li>
                <a href="">
                  Urine albumin to creatinine ratio (ACR)
                </a>
              </li>
            </ul>

          </div>
        </div>

        <!-- X -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="X">X</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  X-ray
                </a>
              </li>
            </ul>

          </div>
        </div>


      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
