
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Treatments- NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-by-health-topics" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-by-health-topics" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Treatments</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Find out about non-surgical treatments such as physiotherapy and chemotherapy, including what happen</p>
      </div>
    </div>

    <article>

      <section class="nhsuk-u-reading-width">
                <!-- A -->
                <div class="nhsuk-card nhsuk-card--feature">
                  <div class="nhsuk-card__content nhsuk-card__content--feature">
                    <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
          
                    <ul class="nhsuk-list nhsuk-list--border az-row">
                      <li>
                        <a href="">
                          Acupuncture
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Alexander technique
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Amputation
                        </a>
                      </li>
                      
                    </ul>
          
                  </div>
                </div>
        
                <!-- C -->
                <div class="nhsuk-card nhsuk-card--feature">
                  <div class="nhsuk-card__content nhsuk-card__content--feature">
                    <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="C">C</h2>
          
                    <ul class="nhsuk-list nhsuk-list--border az-row">
                      <li>
                        <a href="">
                          Carotid endarterectomy
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Chemotherapy
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Chiropractic
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Circumcision in boys
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Circumcision in men
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Cognitive behavioural therapy (CBT)
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Colostomy
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Counselling
                        </a>
                      </li>
                                            
                      <li>
                        <a href="">
                          Cystoscopy
                        </a>
                      </li>
                    </ul>
          
                  </div>
                </div>
        
                <!-- D -->
                <div class="nhsuk-card nhsuk-card--feature">
                  <div class="nhsuk-card__content nhsuk-card__content--feature">
                    <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="D">D</h2>
          
                    <ul class="nhsuk-list nhsuk-list--border az-row">
                      <li>
                        <a href="">
                          Dentures (false teeth)
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Dialysis
                        </a>
                      </li>
                    </ul>
          
                  </div>
                </div>
        
                <!-- F -->
                <div class="nhsuk-card nhsuk-card--feature">
                  <div class="nhsuk-card__content nhsuk-card__content--feature">
                    <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="F">F</h2>
          
                    <ul class="nhsuk-list nhsuk-list--border az-row">
                      <li>
                        <a href="">
                          Femoral hernia repair
                        </a>
                      </li>
                    </ul>
          
                  </div>
                </div>
        
                <!-- G -->
                <div class="nhsuk-card nhsuk-card--feature">
                  <div class="nhsuk-card__content nhsuk-card__content--feature">
                    <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="G">G</h2>
          
                    <ul class="nhsuk-list nhsuk-list--border az-row">
                      <li>
                        <a href="">
                          Gallbladder removal
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Gastrectomy
                        </a>
                      </li>
                    </ul>
          
                  </div>
                </div>
        
                <!-- H -->
                <div class="nhsuk-card nhsuk-card--feature">
                  <div class="nhsuk-card__content nhsuk-card__content--feature">
                    <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="H">H</h2>
          
                    <ul class="nhsuk-list nhsuk-list--border az-row">
                      <li>
                        <a href="">
                          Home oxygen therapy
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Hypnotherapy
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Hysterectomy
                        </a>
                      </li>
                    </ul>
          
                  </div>
                </div>
        
                <!-- I -->
                <div class="nhsuk-card nhsuk-card--feature">
                  <div class="nhsuk-card__content nhsuk-card__content--feature">
                    <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="I">I</h2>
          
                    <ul class="nhsuk-list nhsuk-list--border az-row">
                      <li>
                        <a href="">
                          Inguinal hernia repair
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          IVF
                        </a>
                      </li>
                    </ul>
          
                  </div>
                </div>
        
                <!-- K -->
                <div class="nhsuk-card nhsuk-card--feature">
                <div class="nhsuk-card__content nhsuk-card__content--feature">
                  <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="K">K</h2>
        
                  <ul class="nhsuk-list nhsuk-list--border az-row">
                    <li>
                      <a href="">
                        Knee ligament surgery
                      </a>
                    </li>
                    
                    <li>
                      <a href="">
                        Knee replacement
                      </a>
                    </li>
                    
                  </ul>
        
                </div>
                </div>
                
                <!-- L -->
                <div class="nhsuk-card nhsuk-card--feature">
                  <div class="nhsuk-card__content nhsuk-card__content--feature">
                    <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="L">L</h2>
        
                    <ul class="nhsuk-list nhsuk-list--border az-row">
                      <li>
                        <a href="">
                          Laser eye surgery and lens surgery
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Lumbar decompression surgery
                        </a>
                      </li>
                      
                    </ul>
        
                  </div>
                </div>
        
                <!-- M -->
                <div class="nhsuk-card nhsuk-card--feature">
                  <div class="nhsuk-card__content nhsuk-card__content--feature">
                    <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="M">M</h2>
        
                    <ul class="nhsuk-list nhsuk-list--border az-row">
                      <li>
                        <a href="">
                          Mastectomy
                        </a>
                      </li>
                    </ul>
        
                  </div>
                </div>
        
                <!-- O-->
                <div class="nhsuk-card nhsuk-card--feature">
                  <div class="nhsuk-card__content nhsuk-card__content--feature">
                    <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="O">O</h2>
        
                    <ul class="nhsuk-list nhsuk-list--border az-row">
                      <li>
                        <a href="">
                          Occupational therapy
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Orthodontics
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Osteopathy
                        </a>
                      </li>
                    </ul>
        
                  </div>
                </div>
        
                <!-- P -->

                <div class="nhsuk-card nhsuk-card--feature">
                  <div class="nhsuk-card__content nhsuk-card__content--feature">
                    <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="P">P</h2>
        
                    <ul class="nhsuk-list nhsuk-list--border az-row">
                      <li>
                        <a href="">
                          Pacemaker implantation
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Photodynamic therapy (PDT)
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Physiotherapy
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Plastic surgery
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Psychiatry
                        </a>
                      </li>
                      
                    </ul>
        
                  </div>
                </div>
        
                <!-- R -->
                <div class="nhsuk-card nhsuk-card--feature">
                  <div class="nhsuk-card__content nhsuk-card__content--feature">
                    <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="R">R</h2>
        
                    <ul class="nhsuk-list nhsuk-list--border az-row">
                      <li>
                        <a href="">
                          Radiotherapy
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Root canal treatment
                        </a>
                      </li>
                    </ul>
        
                  </div>
                </div>
                
                <!-- S -->
                <div class="nhsuk-card nhsuk-card--feature">
                  <div class="nhsuk-card__content nhsuk-card__content--feature">
                    <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="S">S</h2>
          
                    <ul class="nhsuk-list nhsuk-list--border az-row">
                      <li>
                        <a href="">
                          Spleen problems and spleen removal
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Stem cell and bone marrow transplants
                        </a>
                      </li>
                    </ul>
          
                  </div>
                </div>

                <!-- T -->
                <div class="nhsuk-card nhsuk-card--feature">
                  <div class="nhsuk-card__content nhsuk-card__content--feature">
                    <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="T">T</h2>
        
                    <ul class="nhsuk-list nhsuk-list--border az-row">
                      <li>
                        <a href="">
                          Teeth whitening
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          TENS (transcutaneous electrical nerve stimulation)
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Tracheostomy
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Transurethral resection of the prostate (TURP)
                        </a>
                      </li>
                      
                    </ul>
        
                  </div>
                </div>
        
                <!-- U -->
                <div class="nhsuk-card nhsuk-card--feature">
                  <div class="nhsuk-card__content nhsuk-card__content--feature">
                    <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="U">U</h2>
        
                    <ul class="nhsuk-list nhsuk-list--border az-row">
                      <li>
                        <a href="">
                          Umbilical hernia repair
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Urinary catheter
                        </a>
                      </li>
                    </ul>
        
                  </div>
                </div>
        
                <!-- W -->
                <div class="nhsuk-card nhsuk-card--feature">
                  <div class="nhsuk-card__content nhsuk-card__content--feature">
                    <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="W">W</h2>
        
                    <ul class="nhsuk-list nhsuk-list--border az-row">
                      <li>
                        <a href="">
                          Weight loss surgery
                        </a>
                      </li>
                      
                      <li>
                        <a href="">
                          Wisdom tooth removal
                        </a>
                      </li>
                    </ul>
        
                  </div>
                </div>


      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
