
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Vaccinations - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-by-health-topics" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-by-health-topics" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Vaccinations</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Find out about vaccinations for babies, children and adults, including why they're important and how to get them. </p>
      </div>
    </div>

    <article>


      <section>

        <!-- B -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="B">B</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  BCG vaccine for tuberculosis (TB)
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- C -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="C">C</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Chickenpox vaccine
                </a>
              </li>
              
              <li>
                <a href="">
                  Children's flu vaccine
                </a>
              </li>
              
            </ul>
  
          </div>
        </div>

        <!-- F -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="F">F</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Flu vaccine
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- H --> 
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="H">H</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Hepatitis B vaccine
                </a>
              </li>
              
              <li>
                <a href="">
                  Hib/MenC vaccine
                </a>
              </li>
              
              <li>
                <a href="">
                  HPV vaccine
                </a>
              </li>
              
            </ul>
  
          </div>
        </div>

        <!-- M -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="M">M</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  MenACWY vaccine
                </a>
              </li>
              
              <li>
                <a href="">
                  MenB vaccine
                </a>
              </li>
              
              <li>
                <a href="">
                  MMR (measles, mumps and rubella) vaccine
                </a>
              </li>
              
            </ul>
  
          </div>
        </div>

        <!-- P -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="P">P</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Pneumococcal vaccine
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- R -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="R">R</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Rotavirus vaccine
                </a>
              </li>
              
              <li>
                <a href="">
                  RSV vaccine
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- T -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="T">T</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Td/IPV vaccine (3-in-1 teenage booster)
        
                </a>
              </li>
              
              <li>
                <a href="">
                  Travel vaccinations
                </a>
              </li>
            </ul>
  
          </div>
        </div>


        <br>
        <p><a href="https://www.nhs.uk/conditions">Browse all A to Z topics</a></p>

      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
