
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Viruses and infections - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-by-health-topics" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-by-health-topics" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Viruses and infections</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Includes viruses such as flu and chickenpox, bacterial infections, and parasitic infections such as head lice</p>
      </div>
    </div>


    <article>
      <section>

      <!-- A to Z navigation -->
      <nav class="nhsuk-u-margin-bottom-4 nhsuk-u-padding-top-4" id="nhsuk-nav-a-z" role="navigation" aria-label="A to Z Navigation">
        <ol class="nhsuk-list nhsuk-u-clear nhsuk-u-margin-0 letter-list" role="list">
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block " href="#A">A</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#B">B</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#C">C</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#D">D</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#E">E</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#F">F</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#G">G</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#H">H</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#I">I</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#J">J</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#K">K</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#L">L</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#M">M</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#N">N</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#O">O</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#P">P</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#Q">Q</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#R">R</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#S">S</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#T">T</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#U">U</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#V">V</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#W">W</a>
          </li>
          <!--
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#X">X</a>
          </li>
          -->
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#Y">Y</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#Z">Z</a>
          </li>

        </ol>
      </nav>

        <!-- A -->
        <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Actinomycosis
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Avian flu, see Bird flu
                  </a>
                </li>
              </ul>
    
            </div>
        </div>
          
        <!-- B -->
        <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="B">B</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Bedbugs
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Bilharzia, see Schistosomiasis (bilharzia)
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Bird flu
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Botulism
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Brucellosis
                  </a>
                </li>
              </ul>
    
            </div>
        </div>

        <!-- C -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="C">C</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Chickenpox
                </a>
              </li>
              
              <li>
                <a href="">
                  Chlamydia
                </a>
              </li>
              
              <li>
                <a href="">
                  Cholera
                </a>
              </li>
              
              <li>
                <a href="">
                  CJD, see Creutzfeldt-Jakob disease
                </a>
              </li>
              
              <li>
                <a href="">
                  Clostridium difficile (C. diff) infection
                </a>
              </li>
  
              <li>
                <a href="">
                  Common cold
                </a>
              </li>
              
              <li>
                <a href="">
                  Coronavirus, see COVID-19
                </a>
              </li>
              
              <li>
                <a href="">
                  COVID-19
                </a>
              </li>
                            
              <li>
                <a href="">
                  Creutzfeldt-Jakob disease
                </a>
              </li>
  
              <li>
                <a href="">
                  Cyclospora
                </a>
              </li>
              
              <li>
                <a href="">
                  Cystitis
                </a>
              </li>
              
              <li>
                <a href="">
                  Cytomegalovirus (CMV)
                </a>
              </li>
            </ul>
  
          </div>
        </div>
        
        <!-- D -->
        <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="D">D</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Dengue
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Diphtheria
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Dysentery
                  </a>
                </li>
              </ul>
    
            </div>
        </div>
        
      <!-- E -->
      <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="E">E</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Ebola virus disease
                </a>
              </li>
            </ul>
  
          </div>
      </div>
      
      <!-- F -->
      <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="F">F</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Flu
                </a>
              </li>
              
              <li>
                <a href="">
                  Fungal nail infection
                </a>
              </li>
            </ul>
  
          </div>
      </div>

      <!-- G -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="G">G</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Genital herpes
              </a>
            </li>
            
            <li>
              <a href="">
                Genital warts
              </a>
            </li>
            
            <li>
              <a href="">
                German measles, see Rubella (german measles)
              </a>
            </li>
            
            <li>
              <a href="">
                Giardiasis
              </a>
            </li>
            
            <li>
              <a href="">
                Glandular fever
              </a>
            </li>

            <li>
              <a href="">
                Gonorrhoea
              </a>
            </li>
            
            <li>
              <a href="">
                Group B strep
              </a>
            </li>
          </ul>

        </div>
      </div>
      
      <!-- H -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="H">H</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Haemophilus influenzae type b (Hib)
                </a>
              </li>
              
              <li>
                <a href="">
                  Hand, foot and mouth disease
                </a>
              </li>
              
              <li>
                <a href="">
                  Head lice and nits
                </a>
              </li>
              
              <li>
                <a href="">
                  Hepatitis
                </a>
              </li>
              
              <li>
                <a href="">
                  Hepatitis A
                </a>
              </li>
  
              <li>
                <a href="">
                  Hepatitis B
                </a>
              </li>
              
              <li>
                <a href="">
                  Hepatitis C
                </a>
              </li>
              
              <li>
                <a href="">
                  Herpes (genital), see Genital herpes
                </a>
              </li>
                            
              <li>
                <a href="">
                  Herpes in babies, see Neonatal herpes (herpes in a baby)
                </a>
              </li>
              
              <li>
                <a href="">
                  Herpes simplex eye infections
                </a>
              </li>
              
              <li>
                <a href="">
                  Herpetic whitlow (whitlow finger)
                </a>
              </li>
              
              <li>
                <a href="">
                  Hib, see Haemophilus influenzae type b (Hib)
                </a>
              </li>
  
              <li>
                <a href="">
                  HIV and AIDS
                </a>
              </li>
              
              <li>
                <a href="">
                  Hookworm, see Worms in humans
                </a>
              </li>
              
              <li>
                <a href="">
                  Human papillomavirus (HPV)
                </a>
              </li>
            </ul>
  
        </div>
      </div>

      <!-- I -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="I">I</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Impetigo
              </a>
            </li>

            <li>
              <a href="">
                Influenza, see Flu
              </a>
            </li>
          </ul>

        </div>
      </div>
    
      <!-- J -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="J">J</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Japanese encephalitis
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- K -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="K">K</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Kidney infection
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- L -->
      <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="L">L</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Legionnaires' disease
                </a>
              </li>
              
              <li>
                <a href="">
                  Leptospirosis (Weil's disease)
                </a>
              </li>
              
              <li>
                <a href="">
                  Listeriosis
                </a>
              </li>
              
              <li>
                <a href="">
                  Lyme disease
                </a>
              </li>
            </ul>

          </div>
      </div>

      <!-- M -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="M">M</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Malaria
              </a>
            </li>
            
            <li>
              <a href="">
                Measles
              </a>
            </li>
            
            <li>
              <a href="">
                Meningitis
              </a>
            </li>
            
            <li>
              <a href="">
                Middle East respiratory syndrome (MERS)
              </a>
            </li>
            
            <li>
              <a href="">
                Molluscum contagiosum
              </a>
            </li>
            
            <li>
              <a href="">
                Mpox
              </a>
            </li>
            
            <li>
              <a href="">
                MRSA
              </a>
            </li>

            <li>
              <a href="">
                Mumps
              </a>
            </li>
          </ul>

        </div>
      </div>
      
      <!-- N -->
      <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="N">N</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Necrotising fasciitis
                </a>
              </li>
              
              <li>
                <a href="">
                  Neonatal herpes (herpes in a baby)
                </a>
              </li>
              
              <li>
                <a href="">
                  Norovirus (vomiting bug)
                </a>
              </li>
            </ul>

          </div>
      </div>

      <!-- O -->
      <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="O">O</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Orf
                </a>
              </li>
            </ul>

          </div>
      </div>

      <!-- P -->
      <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="P">P</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Pelvic inflammatory disease
                </a>
              </li>
              
              <li>
                <a href="">
                  Pneumonia
                </a>
              </li>

              <li>
                <a href="">
                  Polio
                </a>
              </li>
              
              <li>
                <a href="">
                  Pubic lice
                </a>
              </li>
            </ul>

          </div>
      </div>

      <!-- Q -->
      <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="Q">Q</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Q fever
                </a>
              </li>
            </ul>

          </div>
      </div>

      <!-- R -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="R">R</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Rabies
              </a>
            </li>
            
            <li>
              <a href="">
                Respiratory syncytial virus (RSV)
              </a>
            </li>
            
            <li>
              <a href="">
                Respiratory syncytial virus (RSV) vaccine, see RSV vaccine
              </a>
            </li>
            
            <li>
              <a href="">
                Respiratory tract infections (RTIs)
              </a>
            </li>
            
            <li>
              <a href="">
                Ringworm
              </a>
            </li>

            <li>
              <a href="">
                Roseola
              </a>
            </li>
            
            <li>
              <a href="">
                Roundworm, see Worms in humans
              </a>
            </li>

            <li>
              <a href="">
                RSV, see Respiratory syncytial virus (RSV)
              </a>
            </li>
            
            <li>
              <a href="">
                Rubella (german measles)
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- S -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="S">S</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Scabies
              </a>
            </li>
            
            <li>
              <a href="">
                Scarlet fever
              </a>
            </li>
            
            <li>
              <a href="">
                Schistosomiasis (bilharzia)
              </a>
            </li>
            
            <li>
              <a href="">
                Sexually transmitted infections (STIs)
              </a>
            </li>
            
            <li>
              <a href="">
                Shingles
              </a>
            </li>

            <li>
              <a href="">
                Slapped cheek syndrome
              </a>
            </li>
            
            <li>
              <a href="">
                Staph infection
              </a>
            </li>

            <li>
              <a href="">
                Strep A
              </a>
            </li>
            
            <li>
              <a href="">
                Syphilis
              </a>
            </li>

          </ul>

        </div>
      </div>
      
      <!-- T -->
      <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="T">T</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Tapeworm, see Worms in humans
                </a>
              </li>
              
              <li>
                <a href="">
                  TB, see Tuberculosis (TB)
                </a>
              </li>
              
              <li>
                <a href="">
                  Tetanus
                </a>
              </li>
              
              <li>
                <a href="">
                  Threadworms
                </a>
              </li>
              
              <li>
                <a href="">
                  Thrush in men and women
                </a>
              </li>

              <li>
                <a href="">
                  Tick-borne encephalitis (TBE)
                </a>
              </li>
              
              <li>
                <a href="">
                  Tics
                </a>
              </li>

              <li>
                <a href="">
                  Toxic shock syndrome
                </a>
              </li>
              
              <li>
                <a href="">
                  Toxocariasis
                </a>
              </li>
              
              <li>
                <a href="">
                  Toxoplasmosis
                </a>
              </li>

              <li>
                <a href="">
                  Trichomoniasis
                </a>
              </li>
              
              <li>
                <a href="">
                  Tuberculosis (TB)
                </a>
              </li>
              
              <li>
                <a href="">
                  Typhoid fever
                </a>
              </li>
              
              <li>
                <a href="">
                  Typhus
                </a>
              </li>

            </ul>

          </div>
      </div>
      
      <!-- U -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="U">U</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Urinary tract infections (UTIs)
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- V -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="U">U</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Vomiting bug, see Norovirus (vomiting bug)
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- W -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="W">W</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Weil's disease, see Leptospirosis (Weil's disease)
              </a>
            </li>
            
            <li>
              <a href="">
                Whitlow finger, see Herpetic whitlow (whitlow finger)
              </a>
            </li>
            
            <li>
              <a href="">
                Whooping cough
              </a>
            </li>
            
            <li>
              <a href="">
                Winter vomiting bug, see Norovirus (vomiting bug)
              </a>
            </li>
            
            <li>
              <a href="">
                Worms in humans
              </a>
            </li>
          </ul>

        </div>
      </div>
  

      <!-- V -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="Y">Y</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Yellow fever
              </a>
            </li>
          </ul>

        </div>
      </div>
    
      <!-- Z -->
      <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="Z">Z</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Zika virus
                </a>
              </li>
            </ul>

          </div>
      </div>

      <br>
      <p><a href="https://www.nhs.uk/conditions">Browse all A to Z topics</a></p>
      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
