
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Surgery and procedures- NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../health-a-to-z_v4" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-by-health-topics" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-by-health-topics" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>BSurgery and procedures</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Find out about treatments such as surgery, including how to prepare, what happens and recovery</p>
      </div>
    </div>

    <article>    
      <!-- 
      Amniocentesis
      Amputation
      Angiography
      Arthroscopy
      Barium enema
      Biopsy
      Cardiac catheterisation and coronary angiography
      Carotid endarterectomy
      Cervical screening
      Chorionic villus sampling
      Circumcision in boys
      Circumcision in men
      Colonoscopy
      Colostomy
      Colposcopy
      Cystoscopy
      Dialysis
      Femoral hernia repair
      Gallbladder removal
      Gastrectomy
      Gastroscopy
      Hysterectomy
      Hysteroscopy
      Inguinal hernia repair
      IVF
      Knee ligament surgery
      Knee replacement
      Laparoscopy (keyhole surgery)
      Laser eye surgery and lens surgery
      Lumbar decompression surgery
      Lumbar puncture
      Mastectomy
      Pacemaker implantation
      Root canal treatment
      Spleen problems and spleen removal
      Stem cell and bone marrow transplants
      Tracheostomy
      Transurethral resection of the prostate (TURP)
      Umbilical hernia repair
      Urinary catheter
      Weight loss surgery
      Wisdom tooth removal
 -->


      <section class="nhsuk-u-reading-width">
        <ul class="nhsuk-hub-key-links beta-hub-key-links">

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Amniocentesis
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Amputation
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Angiography
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Arthroscopy
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Barium enema
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Biopsy
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Cardiac catheterisation and coronary angiography
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Carotid endarterectomy
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Cervical screening
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Chorionic villus sampling
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Circumcision in boys
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Circumcision in men
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Colonoscopy
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Colostomy
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Colposcopy
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Cystoscopy
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Dialysis
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Femoral hernia repair
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Gallbladder removal
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Gastrectomy
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Gastroscopy
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Hysterectomy
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Hysteroscopy
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Inguinal hernia repair
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              IVF
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Knee ligament surgery
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Knee replacement
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Laparoscopy (keyhole surgery)
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Laser eye surgery and lens surgery
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Lumbar decompression surgery
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Lumbar puncture
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Mastectomy
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Pacemaker implantation
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Root canal treatment
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Spleen problems and spleen removal
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Stem cell and bone marrow transplants
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Tracheostomy
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Transurethral resection of the prostate (TURP)
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Umbilical hernia repair
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Urinary catheter
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Weight loss surgery
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              Wisdom tooth removal
            </a>
          </li>

        </ul>
      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
