
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Cancer- NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-health-topics-by-type" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-health-topics-by-type" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Cancer</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Read more about cancer, including symptoms and possible treatments</p>
      </div>
    </div>

    <article>

      <section>

        <!-- A -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Acute lymphoblastic leukaemia		
                </a>
              </li>
              
              <li>
                <a href="">
                  Acute myeloid leukaemia	
                </a>
              </li>
              
              <li>
                <a href="">
                  Anal cancer		
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <!-- B -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="B">B</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Bile duct cancer (cholangiocarcinoma)		
                </a>
              </li>
              
              <li>
                <a href="">
                  Bowel cancer		
                </a>
              </li>
              
              <li>
                <a href="">
                  Breast cancer in men	
                </a>
              </li>
              
              <li>
                <a href="">
                  Breast cancer in women	
                </a>
              </li>
            </ul>

          </div>
        </div>

        <!-- C -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="C">C</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Cancer
                </a>
              </li>
              
              <li>
                <a href="">
                  Cervical cancer		
                </a>
              </li>
              
              <li>
                <a href="">
                  Chronic myeloid leukaemia		
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <!-- G -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="G">G</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Gallbladder cancer				
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <!-- K -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="K">K</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Kidney cancer			
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <!-- L -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="L">L</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Liver cancer		
                </a>
              </li>
              
              <li>
                <a href="">
                  Lung cancer	
                </a>
              </li>

            </ul>

          </div>
        </div>

        <!-- M -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="M">M</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Melanoma skin cancer
                </a>
              </li>
              
              <li>
                <a href="">
                  Mouth cancer		
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <!-- N -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="N">N</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Non-melanoma skin cancer		
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <!-- O -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="O">O</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Oesophageal cancer	
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <!-- P -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="P">P</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Pancreatic cancer		
                </a>
              </li>
              
              <li>
                <a href="">
                  Penile cancer
                </a>
              </li>
            </ul>

          </div>
        </div>

        <!-- R -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="R">R</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Retinoblastoma		
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <!-- S -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="S">S</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Soft tissue sarcoma		
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <!-- T -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="T">T</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Testicular cancer		
                </a>
              </li>
              
              <li>
                <a href="">
                  Thyroid cancer		
                </a>
              </li>
            </ul>

          </div>
        </div>
        
        <!-- V -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="V">V</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Vaginal cancer	
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        
        <!-- W -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="W">W</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">

              <li>
                <a href="">
                  Womb (uterus) cancer	
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <br>
        <p><a href="https://www.nhs.uk/conditions">Browse all A to Z topics</a></p>
      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
