
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-health-topics-by-type" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-health-topics-by-type" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Symptoms</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Find out about common symptoms, their causes, what to do and when to get medical help</p>
      </div>
    </div>

    <article>

      <section>

        <!-- A -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Anal pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Ankle pain
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- B -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="B">B</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Back pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Bad breath
                </a>
              </li>
              
              <li>
                <a href="">
                  Bedwetting in children
                </a>
              </li>
              
              <li>
                <a href="">
                  Bleeding from the bottom (rectal bleeding)
                </a>
              </li>
              
              <li>
                <a href="">
                  Bloating
                </a>
              </li>
              
              <li>
                <a href="">
                  Blood in urine
                </a>
              </li>
              
              <li>
                <a href="">
                  Blue or grey skin or lips (cyanosis)
                </a>
              </li>
              
              <li>
                <a href="">
                  Blushing
                </a>
              </li>

              <li>
                <a href="">
                  Body odour (BO)
                </a>
              </li>
              
              <li>
                <a href="">
                  Breast lumps
                </a>
              </li>
              
              <li>
                <a href="">
                  Breast pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Bulging eyes (exophthalmos)
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- C -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="C">C</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Chest pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Cough
                </a>
              </li>
              
              <li>
                <a href="">
                  Coughing up blood (blood in phlegm)
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- D -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="D">D</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Diarrhoea and vomiting  
                </a>
              </li>
              
              <li>
                <a href="">
                  Dizziness
                </a>
              </li>
              
              <li>
                <a href="">
                  Double vision
                </a>
              </li>
              
              <li>
                <a href="">
                  Dry eyes
                </a>
              </li>
              
              <li>
                <a href="">
                  Dry mouth
                </a>
              </li>
              
              <li>
                <a href="">
                  Dysphagia (swallowing problems)
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- E -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="E">E</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Earache
                </a>
              </li>
              
              <li>
                <a href="">
                  Elbow and arm pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Erectile dysfunction (impotence)
                </a>
              </li>
              
              <li>
                <a href="">
                  Excessive daytime sleepiness (hypersomnia)
                </a>
              </li>
              
              <li>
                <a href="">
                  Excessive hair growth (hirsutism)
                </a>
              </li>
              
              <li>
                <a href="">
                  Excessive sweating (hyperhidrosis)
                </a>
              </li>
              
              <li>
                <a href="">
                  Excessive thirst
                </a>
              </li>
              
              <li>
                <a href="">
                  Eyelid problems
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- F -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="F">F</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Fainting
                </a>
              </li>
              
              <li>
                <a href="">
                  Farting (flatulence)
                </a>
              </li>
              
              <li>
                <a href="">
                  Feeling sick (nausea)
                </a>
              </li>
              
              <li>
                <a href="">
                  Finger pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Floaters and flashes in the eyes
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- H -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="H">H</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Hair loss
                </a>
              </li>
              
              <li>
                <a href="">
                  Hallucinations and hearing voices
                </a>
              </li>
              
              <li>
                <a href="">
                  Headaches
                </a>
              </li>
              
              <li>
                <a href="">
                  Hearing loss
                </a>
              </li>
              
              <li>
                <a href="">
                  Heart palpitations 
                </a>
              </li>
              
              <li>
                <a href="">
                  Heartburn and acid reflux
                </a>
              </li>
              
              <li>
                <a href="">
                  Heel pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Hiccups
                </a>
              </li>
              
            <li>
              <a href="">
                High temperature (fever) in adults
              </a>
            </li>
            
            <li>
              <a href="">
                High temperature (fever) in children
              </a>
            </li>
            
            <li>
              <a href="">
                Hip pain in adults
              </a>
            </li>
            
            <li>
              <a href="">
                Hip pain in children (irritable hip)
              </a>
            </li>
            
            </ul>
  
          </div>
        </div>

        <!-- I -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="I">I</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Indigestion
                </a>
              </li>
              
              <li>
                <a href="">
                  Irregular periods
                </a>
              </li>
              
              <li>
                <a href="">
                  Itchy bottom
                </a>
              </li>
              
              <li>
                <a href="">
                  Itchy skin
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- J -->
        <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="J">J</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                Joint pain
              </a>
            </li>
          </ul>

        </div>
        </div>

        <!-- K -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="K">K</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Knee pain
                </a>
              </li>
            </ul>

          </div>
        </div>

        <!-- L -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="L">L</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Leg cramps
                </a>
              </li>
              
              <li>
                <a href="">
                  Limping in children
                </a>
              </li>
              
              <li>
                <a href="">
                  Lost or changed sense of smell
                </a>
              </li>
              
              <li>
                <a href="">
                  Low sex drive (loss of libido)
                </a>
              </li>
              
              <li>
                <a href="">
                  Lumps
                </a>
              </li>
            </ul>

          </div>
        </div>

        <!-- M -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="M">M</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Memory loss (amnesia)
                </a>
              </li>
              
              <li>
                <a href="">
                  Metallic taste
                </a>
              </li>
              
              <li>
                <a href="">
                  Missed or late periods
                </a>
              </li>
            </ul>

          </div>
        </div>

        <!-- N -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="N">N</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Nail problems
                </a>
              </li>
              
              <li>
                <a href="">
                  Neck pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Night sweats
                </a>
              </li>
              
              <li>
                <a href="">
                  Nipple discharge
                </a>
              </li>
            </ul>

          </div>
        </div>

        <!-- O -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="O">O</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Ovulation pain
                </a>
              </li>
            </ul>

          </div>
        </div>

        <!-- P -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="P">P</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Pain in the back of the hand
                </a>
              </li>
              
              <li>
                <a href="">
                  Pain in the ball of the foot
                </a>
              </li>
              
              <li>
                <a href="">
                  Pain in the bottom of the foot
                </a>
              </li>
              
              <li>
                <a href="">
                  Pain in the palm of the hand
                </a>
              </li>
              
              <li>
                <a href="">
                  Pain in the top of the foot
                </a>
              </li>
              
              <li>
                <a href="">
                  Paralysis
                </a>
              </li>
              
              <li>
                <a href="">
                  Pelvic pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Penis lumps and spots
                </a>
              </li>

              <li>
                <a href="">
                  Period pain
                </a>
              </li>

              <li>
                <a href="">
                  Pins and needles
                </a>
              </li>
              
              <li>
                <a href="">
                  Postmenopausal bleeding
                </a>
              </li>
              
              <li>
                <a href="">
                  Priapism (painful erections)
                </a>
              </li>
            </ul>

          </div>
        </div>


        <!-- R -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="R">R</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Red eye
                </a>
              </li>
              
              <li>
                <a href="">
                  Reflux in babies
                </a>
              </li>
            </ul>

          </div>
        </div>
        

        <!-- S -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="S">S</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Shortness of breath
                </a>
              </li>
              
              <li>
                <a href="">
                  Shoulder pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Smelly feet
                </a>
              </li>
              
              <li>
                <a href="">
                  Smelly urine
                </a>
              </li>
              
              <li>
                <a href="">
                  Snoring
                </a>
              </li>
              
              <li>
                <a href="">
                  Soiling (child pooing their pants)
                </a>
              </li>
              
              <li>
                <a href="">
                  Sore or dry lips
                </a>
              </li>
              
              <li>
                <a href="">
                  Sore or white tongue
                </a>
              </li>
              
              <li>
                <a href="">
                  Sore throat
                </a>
              </li>
              
              <li>
                <a href="">
                  Stomach ache
                </a>
              </li>
              
              <li>
                <a href="">
                  Stretch marks
                </a>
              </li>
              
              <li>
                <a href="">
                  Sudden confusion (delirium)
                </a>
              </li>

              <li>
                <a href="">
                  Swollen ankles, feet and legs (oedema)
                </a>
              </li>
              
              <li>
                <a href="">
                  Swollen arms and hands (oedema)
                </a>
              </li>

              <li>
                <a href="">
                  Swollen glands
                </a>
              </li>

            </ul>

          </div>
        </div>

        <!-- T -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="T">T</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Tailbone (coccyx) pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Teeth grinding (bruxism)
                </a>
              </li>
              
              <li>
                <a href="">
                  Testicle lumps and swellings
                </a>
              </li>
              
              <li>
                <a href="">
                  Testicle pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Thumb pain
                </a>
              </li>
              
              <li>
                <a href="">
                  Tinnitus
                </a>
              </li>
              
              <li>
                <a href="">
                  Tiredness and fatigue
                </a>
              </li>
              
              <li>
                <a href="">
                  Toe pain
                </a>
              </li>

              <li>
                <a href="">
                  Toothache
                </a>
              </li>
              
              <li>
                <a href="">
                  Tremor or shaking hands
                </a>
              </li>
              
              <li>
                <a href="">
                  Twitching eyes and muscles
                </a>
              </li>

            </ul>

          </div>
        </div>

        <!-- U -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="U">U</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Unintentional weight loss
                </a>
              </li>
            </ul>

          </div>
        </div>

        <!-- V -->
        <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
              <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="V">V</h2>
    
              <ul class="nhsuk-list nhsuk-list--border az-row">
                <li>
                  <a href="">
                    Vaginal bleeding between periods or after sex
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Vaginal discharge
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Vaginal dryness
                  </a>
                </li>
                
                <li>
                  <a href="">
                    Vomiting blood
                  </a>
                </li>
                
              </ul>
    
            </div>
        </div>

        <!-- W -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="W">W</h2>

            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  Watering eyes
                </a>
              </li>
              
              <li>
                <a href="">
                  What to do if someone has a seizure (fit)
                </a>
              </li>
              
              <li>
                <a href="">
                  Worms in humans
                </a>
              </li>
              
              <li>
                <a href="">
                  Wrist pain
                </a>
              </li>
              
            </ul>

          </div>
        </div>

        <br>
        <p><a href="https://www.nhs.uk/conditions">Browse all A to Z topics</a></p>

      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
