
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Muscles, bones and joints - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../health-a-to-z_v4" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-by-health-topics" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-by-health-topics" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Muscles, bones and joints</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Includes injuries, broken bones, pain symptoms and conditions such as arthritis and osteoporosis</p>
      </div>
    </div>


    <article>
      <section class="nhsuk-u-reading-width">
        <ul class="nhsuk-hub-key-links beta-hub-key-links">

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
          
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
        
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="">
              
            </a>
          </li>
        </ul>
      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}


        <!-- A -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- B -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="B">B</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- C -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="C">C</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- D -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="D">D</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- E -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="E">E</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- F -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- G -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- H -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- I -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- A -->
        <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="D">D</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
        </div>

      <!-- B -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="E">E</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- C -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- D -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- E -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- F -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- G -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- H -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- I -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
      </div>