
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Symptoms by type - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="health-a-to-z_v4" class="nhsuk-breadcrumb__link">Health A to Z</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Health A to Z
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Symptoms by type</h1>
    </div>

    <article>
      <ul class="nhsuk-grid-row nhsuk-card-group">
    
        <!-- Breathing problems -->
        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="">
                  Breathing problems
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Difficulty breathing, including wheezing or feeling short of breath</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
              </div>
            </div>
          </div>
        </li>


        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="b">
                  Pain
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Pain in any part of the body, including headache, chest pain, arm pain, hand pain, knee pain and foot pain</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>

        <!-- Cold and flu symptoms -->
        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="">
                  Cold and flu symptoms
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Symptoms similar to cold or flu, including high temperature, cough and sore throat</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>


        <!-- Eating and digestion problemss -->
        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="">
                  Eating and digestion problems
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Symptoms that affect eating and digestion, including teeth grinding, bloating and diarrhoea and vomiting</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>


        <!-- Symptoms in babies and children -->
        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="">
                  Symptoms in babies and children
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Symptoms that are more common in children, including reflux in babies and irritable hip</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>

        <!-- Skin symptoms -->
        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="">
                  Skin symptoms
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Any changes to the skin, including rashes, itching and swelling</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>

        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="">
                  Sight and eye problems
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Problems with your vision, eyes or eyelids</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>
        

        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="">
                  Period symptoms
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Symptoms linked to the menstrual cycle, including different periods, post-menopausal bleeding and vaginal dryness</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>
        

        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="">
                  Mental health symptoms
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Symptoms linked to mental health, including stress, anxiety, low mood, hallucinations and hearing voices</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>
        

        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="">
                  Injuries
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>An injury to any part of the body, such as a head injury, sprain or broken bone</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>
      
        
      </ul>

      <h3>If you need help now, and you're not sure what to do</h3>
      <ul>
        <li>Go to <a href="">111.nhs.uk</a> or call 111</li>
      </ul>

      <h3>If you think it's an emergency</h3>
      <ul>
        <li><a href="">Find your nearest A%E</a></li>
        <li>Call 999</li>
      </ul>
    
    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
