
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../health-a-to-z_v4" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="../browse-by-health-topics" class="nhsuk-breadcrumb__link">Browse by health topics</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="../browse-by-health-topics" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Browse by health topics
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Symptoms</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Find out about common symptoms, their causes, what to do and when to get medical help</p>
      </div>
    </div>

    <article>
      Anal pain
      Ankle pain
      Back pain
      Bad breath
      Bedwetting in children
      Bleeding from the bottom (rectal bleeding)
      Bloating
      Blood in semen
      Blood in urine
      Blue or grey skin or lips (cyanosis)
      Blushing
      Body odour (BO)
      Breast lumps
      Breast pain
      Bulging eyes (exophthalmos)
      Chest pain
      Cough
      Coughing up blood (blood in phlegm)
      Diarrhoea and vomiting
      Dizziness
      Double vision
      Dry eyes
      Dry mouth
      Dysphagia (swallowing problems)
      Earache
      Elbow and arm pain
      Erectile dysfunction (impotence)
      Excessive daytime sleepiness (hypersomnia)
      Excessive hair growth (hirsutism)
      Excessive sweating (hyperhidrosis)
      Excessive thirst
      Eyelid problems
      Fainting
      Farting (flatulence)
      Feeling sick (nausea)
      Finger pain
      Floaters and flashes in the eyes
      Hair loss
      Hallucinations and hearing voices
      Headaches
      Hearing loss
      Heart palpitations
      Heartburn and acid reflux
      Heel pain
      Hiccups
      High temperature (fever) in adults
      High temperature (fever) in children
      Hip pain in adults
      Hip pain in children (irritable hip)
      Indigestion
      Irregular periods
      Itchy bottom
      Itchy skin
      Joint pain
      Knee pain
      Leg cramps
      Limping in children
      Lost or changed sense of smell
      Low sex drive (loss of libido)
      Lumps
      Memory loss (amnesia)
      Metallic taste
      Missed or late periods
      Nail problems
      Neck pain
      Night sweats
      Nipple discharge
      Ovulation pain
      Pain in the back of the hand
      Pain in the ball of the foot
      Pain in the bottom of the foot
      Pain in the palm of the hand
      Pain in the top of the foot
      Paralysis
      Pelvic pain
      Penis lumps and spots
      Period pain
      Pins and needles
      Postmenopausal bleeding
      Priapism (painful erections)
      Red eye
      Reflux in babies
      Shortness of breath
      Shoulder pain
      Smelly feet
      Smelly urine
      Snoring
      Soiling (child pooing their pants)
      Sore or dry lips
      Sore or white tongue
      Sore throat
      Stomach ache
      Stretch marks
      Sudden confusion (delirium)
      Swollen ankles, feet and legs (oedema)
      Swollen arms and hands (oedema)
      Swollen glands
      Tailbone (coccyx) pain
      Teeth grinding (bruxism)
      Testicle lumps and swellings
      Testicle pain
      Thumb pain
      Tinnitus
      Tiredness and fatigue
      Toe pain
      Toothache
      Tremor or shaking hands
      Twitching eyes and muscles
      Unintentional weight loss
      Vaginal bleeding between periods or after sex
      Vaginal discharge
      Vaginal dryness
      Vomiting blood
      Watering eyes
      What to do if someone has a seizure (fit)
      Worms in humans
      Wrist pain

      <section class="nhsuk-u-reading-width">

        <!-- A -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- B -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="B">B</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- C -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="C">C</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- D -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="D">D</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- E -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="E">E</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- F -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- G -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- H -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- I -->
        <div class="nhsuk-card nhsuk-card--feature">
          <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>
  
            <ul class="nhsuk-list nhsuk-list--border az-row">
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
              
              <li>
                <a href="">
                  
                </a>
              </li>
            </ul>
  
          </div>
        </div>

        <!-- A -->
        <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="D">D</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
        </div>

      <!-- B -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="E">E</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- C -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- D -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- E -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- F -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- G -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- H -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
      </div>

      <!-- I -->
      <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
          <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24" id="A">A</h2>

          <ul class="nhsuk-list nhsuk-list--border az-row">
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
            
            <li>
              <a href="">
                
              </a>
            </li>
          </ul>

        </div>
      </div>
      </section>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
