<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Health A-Z categories exploration
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <br><br>
      <h1>
        Health A-Z navigation
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version {{version}}</span>
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      

      <h2>Health A-Z categories</h2>
      <p>Design is bases on feedback from user research in December to 2024 and team sketching session in January 2025</p>
      <ul>
        <li><a href="health-a-to-z_v5">Health A-Z (hub)</a></li>
        <ul>
          <li><a href="health-a-to-z/conditions-a-to-z">Conditions A-Z</a></li>
          <li><a href="health-a-to-z/symptoms-a-to-z">Symptoms A-Z</a></li>
          <li><a href="health-a-to-z/test-and-treatments-a-to-z">Test and treatments A-Z</a></li>
          <li>Medicines A-Z</li>
          <li>Services A-Z</li>
        </ul>
      </ul>

      <h3>Exploration of View all links styling</h3>
      <ul>
        <li><a href="health-a-to-z/conditions-a-to-z-viewalllink">View all link styled as a text link</a></li>
        <li><a href="health-a-to-z/conditions-a-to-z-secondarybutton">View all link styled as a secondary button</a></li>
        <li><a href="health-a-to-z/conditions-a-to-z-insetlink">View all link styled as a inset link</a></li>
        <li><a href="health-a-to-z/conditions-a-to-z-viewalllink-bluerow">View all link styled as a blue row</a></li>
      </ul>




      <hr>
      <h2>Content types & parts of the body</h2>
      <p>User research from 16th to 19th December 2024</p>
      <ul>
        <li><a href="browse-by-health-topics">Browse by health topics</a></li>
        <li><a href="browse-health-topics-by-type">Browse by health topics types</a></li>
      </ul>

      <h3>Content types plus parts of the body (A-Z blocks)</h3>
      <ul>
        <li><a href="browse-by-health-topics">Browse by health topics (hub)</a></li>
        <ul>
          <li><a href="browse-by-health-topics/accidents-and-injuries">Accidents and injuries</a></li>
          <li><a href="browse-by-health-topics/brain-and-nerves-a-z">Brain and nerves</a></li>
          <li><a href="browse-by-health-topics/cancer">Cancer</a></li>
          <li><a href="browse-by-health-topics/ears-nose-mouth-and-throat-a-z">Ears, nose, mouth and throat</a></li>
          <li><a href="browse-by-health-topics/eyes-a-z">Eyes</a></li>
          <li><a href="browse-by-health-topics/heart-and-circulation-a-z">Heart and circulation</a></li>
          <li><a href="browse-by-health-topics/lungs-and-breathing-a-z">Lungs and breathing</a></li>
          <li>Mental health</li>
          <li><a href="browse-by-health-topics/muscles-bones-and-joints-a-z">Muscles, bones and joints<a></li>
          <li><a href="browse-by-health-topics/skin-a-z">Skin</a></li>
          <li><a href="browse-by-health-topics/stomach-and-digestion-a-z">Stomach and digestion</a></li>
          <li><a href="browse-by-health-topics/surgery-and-procedures">Surgery and procedures</a></li>
          <li><a href="browse-by-health-topics/tests-and-screening">Tests and screening</a></li>
          <li><a href="browse-by-health-topics/treatments">Treatments</a></li>
          <li><a href="browse-by-health-topics/vaccinations">Vaccinations</a></li>
          <li><a href="browse-by-health-topics/viruses-and-infections">Viruses and infections</a></li>
          <li>Woman's health</li>
          <li>Browse all A to Z topics</li>
        </ul>
      </ul>

      
      <h3>Content types only (A-Z blocks)</h3>
      <ul>
        <li><a href="browse-health-topics-by-type">Browse by health topic types (hub)</a></li>
        <ul>
          <li><a href="browse-health-topics-by-type/accidents-and-injuries">Accidents and injuries</a></li>
          <li><a href="browse-health-topics-by-type/cancer">Cancer</a></li>
          <li><a href="browse-health-topics-by-type/conditions">Conditions</a></li>
          <li><a href="browse-health-topics-by-type/surgery-and-procedures">Surgery and procedures</a></li>
          <li><a href="browse-health-topics-by-type/symptoms">Symptoms</a></li>
          <li><a href="browse-health-topics-by-type/tests-and-screening">Tests and screening</a></li>
          <li><a href="browse-health-topics-by-type/treatments">Treatments</a></li>
          <li><a href="browse-health-topics-by-type/vaccinations">Vaccinations</a></li>
          <li>Browse all A to Z topics</li>
        </ul>
      </ul>

      <!--
      <h3>Content types plus parts of the body (List)</h3>
      <ul>
        <li><a href="browse-by-health-topics">Browse by health A-Z topics (hub)</a></li>
        <ul>
          <li><a href="browse-by-health-topics/list/brain-and-nerves-l">Brain and nerves</a></li>
          <li><a href="browse-by-health-topics/list/ears-nose-mouth-and-throat-l">Ears, nose, mouth and throat</a></li>
          <li><a href="browse-by-health-topics/list/eyes-l">Eyes</a></li>
          <li><a href="browse-by-health-topics/list/heart-and-circulation-l">Heart and circulation</a></li>
          <li><a href="browse-by-health-topics/list/lungs-and-breathing-l">Lungs and breathing</a></li>
          <li><a href="browse-by-health-topics/list/muscles-bones-and-joints-l">Muscles, bones and joints</a></li>
          <li><a href="browse-by-health-topics/list/skin-l">Skin</a></li>
          <li><a href="browse-by-health-topics/list/stomach-and-digestion-l">Stomach and digestion</a></li>
          <li><a href="browse-by-health-topics/list/viruses-and-infections-l">Viruses and infections</a></li>
        </ul>
      </ul>
      -->





      <hr>

      <h2>A to Z pages</h2>
      <ul>
        <li><a href="conditions-a-to-z-popular8">Browse A to Z</a> - Popular (8)</li>
        <li><a href="conditions-a-to-z-alphabetical8">Browse A to Z</a> - Alphabetical (8)</li>
        <li><a href="browse-by-a">Browse by A</a> - Page per letter</li>
        <li><a href="browse-by-b">Browse by B</a> - Page per letter</li>
        <li><a href="browse-by-c">Browse by C</a> - Page per letter</li>
  
        <li><a href="conditions_v1">Health A-Z all</a> (A-Z)</li>

      </ul>


      <!--
      <h2>Exploration ideas (lists)</h2>
      <ul>
        <li><a href="browse-by-health-topics/list/brain-and-nerves">Brain and nerves - v1</a></li>
        <li><a href="browse-by-health-topics/list/brain-and-nerves-2">Brain and nerves - v2</a> (See also links restyled)</li>
        <li><a href="browse-by-health-topics/list/brain-and-nerves-3">Brain and nerves - v3</a> (with summaries)</li>

        <li><a href="browse-by-health-topics/list/ears-nose-mouth-and-throat-l">Ears, nose, mouth and throat - v1</a> (Long list)</li>
        <li><a href="browse-by-health-topics/list/ears-nose-mouth-and-throat2">Ears, nose, mouth and throat - v2</a> (separated)</li>
      </ul>
      -->


      <hr>    

      <h2>Health A-Z hub ideas</h2>
      <ul>

        <li><a href="health-a-to-z_v1">Health A-Z categorised hub</a></li>
        <li><a href="health-a-to-z_v2a">Health A-Z with multiple catorgaries</a> - version 2a</li>
        <li><a href="health-a-to-z_v2b">Health A-Z with multiple catorgaries</a> - version 2b</li>
        <li><a href="health-a-to-z_v2c">Health A-Z with multiple catorgaries</a> - version 2c</li>
        <li><a href="health-a-to-z_v3">Health A-Z with multiple catorgaries</a> - version 3</li>
        -
        <li><a href="health-a-to-z_v4">Health A-Z with multiple catorgaries</a> - version 4</li>
        <li><a href="browse-by-parts-of-the-body-hub">Browse by parts of the body</a> - Card hub</li>
        <li><a href="browse-by-parts-of-the-body-list">Browse by parts of the body</a> - Hub list (New)</li>

        
        <li><a href="browse-by-parts-of-the-body/skin_option1">Skin</a> - no summary</li>
        <li><a href="browse-by-parts-of-the-body/skin_option2">Skin</a> - with summary</li>
        <li><a href="browse-by-parts-of-the-body/head-face-and-neck">Head face and neck</a></li>


      </ul>

      <hr>

      <h2>Symptoms prototype - 2021</h2>
      <ul>
        <li><a href="symptoms-prototype/symptoms-hub">Symptoms hub</a></li>
          <ul>
            <p></p>
            <li><a href="symptoms-prototype/symptoms-by-type">Symptoms by type</a></li>
              <ul>
                <li><a href="symptoms-prototype/symptoms-by-type/breathing-problems">Breathing problems</a></li>
                <li><a href="symptoms-prototype/symptoms-by-type/pain">Pain</a></li>
                <li><a href="symptoms-prototype/symptoms-by-type/cold-and-flu-symptoms">Cold and flu symptoms</a></li>
                <li><a href="symptoms-prototype/symptoms-by-type/eating-and-digestion-problems">Eating and digestion problems</a></li>
                <li><a href="symptoms-prototype/symptoms-by-type//symptoms-in-babies-and-children">Symptoms in babies and children</a></li>
                <li><a href="symptoms-prototype/symptoms-by-type/skin-symptoms">Skin symptoms</a></li>
                <li><a href="symptoms-prototype/symptoms-by-type/sight-and-eye-problems">Sight and eye problems</a></li>
                <li><a href="symptoms-prototype/symptoms-by-type/period-symptoms">Period symptoms</a></li>
                <li><a href="symptoms-prototype/symptoms-by-type/mental-health-symptoms">Mental health symptoms</a></li>
                <li><a href="symptoms-prototype/symptoms-by-type/injuries">Injuries</a></li>
              </ul>

              <br>
            <li><a href="symptoms-prototype/symptoms-by-body-part">Symptoms by body part</a></li>
              <ul>
                <li><a href="">Skin, hair and nails</a> (no page exisits)</li>
                <li><a href="symptoms-prototype/symptoms-by-body-part/lungs-and-airways">Lungs and airways</a></li>

                <li><a href="symptoms-prototype/symptoms-by-body-part/head-face-and-neck">Head, face and neck</a></li>
                <li><a href="">Eyes and eyesight</a> (no page exisits)</li>

                <li><a href="">Back and shoulders</a> (no page exisits)</li>
                <li><a href="symptoms-prototype/symptoms-by-body-part/chest-and-breasts">Chest and breasts</a></li>

                <li><a href="symptoms-prototype/symptoms-by-body-part/arms-and-hands">Arms and hands</a></li>
                <li><a href="symptoms-prototype/symptoms-by-body-part/tummy-and-digestive-symptoms">Tummy and digestive symptoms</a></li>    


                <li><a href="symptoms-prototype/symptoms-by-body-part/legs-and-feet">Legs and feet</a></li>
                <li><a href="symptoms-prototype/symptoms-by-body-part/bottom">Bottom</a></li>

                <li><a href="symptoms-prototype/symptoms-by-body-part/vagina-and-periods">Vagina and periods</a></li>
                <li><a href="symptoms-prototype/symptoms-by-body-part/penis-and-testicles">Penis and testicles</a></li>
              </ul>


          </ul>
       

     
      </ul>




      <!-- End of content -->

    </div>
  </div>
{% endblock %}
