
{% extends 'template-nhs.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title -->
{% block pageTitle %}
  Skin - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}



{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../health-a-to-z_v4">Health A to Z</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../browse-by-parts-of-the-body">Browse by parts of the body</a></li>

  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Health A to Z
    </a>
  </p>
</nav>
{% endblock %}





<!-- Live well content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <br>



    <div class="nhsuk-u-reading-width">
      <h1>Skin</h1>
    </div>

    <!-- Heading and lede text -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text ">Includes rashes, moles, bites and stings, small cuts and grazes</p>
      </div>
    </div>


    <article>

      <div class="nhsuk-u-reading-width beta-hub-bottom-content">

        <p><a href="">Atopic eczema</a>
          <br>Atopic eczema (atopic dermatitis) is a common skin condition that causes itchy skin.
        </p>
        <p><a href="">Cellulitis</a>
          <br>Cellulitis is a potentially serious infection in the deeper layers of your skin.</p>
        <p><a href="">Chickenpox</a>        
          <br>Chickenpox is a very contagious infection that causes an itchy, spotty rash. </p>
        <p><a href="">Corns and calluses</a>
          <br>Corns and calluses are hard or thick areas of skin that can be painful.</p>
        <p><a href="">Heat rash (prickly heat)</a>
          <br>An itchy rash of small, raised spots and a stinging or prickling sensation on the skin</p>
        <p><a href="">Hives</a>
          <br>A raised, itchy rash that's usually caused by a reaction to things like food, pollen, insect bites or chemicals.</p>
        <p><a href="">Impetigo</a>
          <br>Impetigo is a skin infection that's very contagious but not usually serious.</p>
        <p><a href="">Insect bites and stings</a>
          <br>The main symptoms of an insect bite or sting are a pain where you were bitten or stung and a small, swollen lump on the skin.</p>
        <p><a href="">Itchy skin</a>
          <br>Itchy skin is not usually a sign of anything serious. You can often treat it yourself and it will usually go away after a few weeks.</p>
        <p><a href="">Keratosis pilaris</a>
          <br>Keratosis pilaris is a very common harmless condition where small bumps appear on your skin.</p>
        <p><a href="">Measles</a>
          <br>Measles usually starts with cold-like symptoms, followed by a rash a few days later. Some people may also get small spots in their mouth.</p>
        <p><a href="">Meningitis</a>
          <br>Meningitis  can be very serious if not treated quickly. Symptoms of meningitis include a rash that does not fade when a glass is rolled over it.</p>
        <p><a href="">Moles</a>
          <br>Moles are small, coloured spots on the skin. Most people have them and they're usually nothing to worry about unless they change size, shape or colour.</p>
        <p><a href="">Molluscum contagiosum</a>
          <br>Molluscum contagiosum is an infection that causes spots on the skin. It's usually harmless and rarely needs treatment.</p>
        <!--
        <p><a href="">Mpox</a>
          <br>The rash is sometimes confused with chickenpox. It starts as raised spots, which turn into sores (ulcers) or small blisters filled with fluid. The blisters eventually form scabs which later fall off.</p>
        -->
        <p><a href="">Pityriasis rosea</a>
          <br>The first stage of the rash is a single, scaly patch called a herald patch. The herald patch is usually oval or round, slightly raised and about 2cm to 5cm across. 
        </p>
        <p><a href="">Pityriasis versicolor</a>
          <br>Pityriasis versicolor is a common fungal skin infection. Pityriasis versicolor causes patches of skin to change colour.
        </p>
        <p><a href="">Pompholyx (dyshidrotic eczema)</a>
          <br>A type of eczema that affects the hands or feet. Pompholyx causes itchy blisters on the hands or feet that come and go.</p>
        <p><a href="">Psoriasis</a>
          <br>Psoriasis is a skin condition that causes flaky patches of skin, which form silvery-white or grey scales.</p>
        <!--
          <p><a href="">Rashes in babies and children</a>
          <br>NHS information on some common rashes in babies and children, such as chickenpox, eczema, impetigo, ringworm, scabies, slapped cheek syndrome and more.</p>
        -->
        <p><a href="">Ringworm</a>
          <br>The main symptom of ringworm is a rash. It may look red or darker than the surrounding skin, depending on your skin tone.
          The rash may be scaly, dry, swollen or itchy.
        </p>
        <p><a href="">Rosacea</a>
          <br>Rosacea is a long-term skin condition that mainly affects the face. It's more common in women and people with lighter skin, but symptoms can be worse in men.</p>
        <p><a href="">Scabies</a>
          <br>Scabies is an itchy rash caused by mites. The symptoms of scabies are an intense itching, especially at night and raised rash or spots.</p>
        <!--
        <p><a href="">Scarlet fever</a>
          <br>Scarlet fever is a contagious infection that mostly affects young children. The looks like small, raised bumps and starts on the chest and tummy, then spreads. The rash makes your skin feel rough, like sandpaper.</p>
        -->
        <p><a href="">Shingles</a>
          <br>Shingles is an infection that causes a painful rash. The rash appears as blotches on your skin, on 1 side of your body only. A rash on both the left and right of your body is unlikely to be shingles.</p>
        <p><a href="">Skin cyst</a>
          <br>Skin cysts are round lumps, often filled with fluid or pus. They're usually harmless and often do not need treatment. </p>
        <p><a href="">Skin tags</a>
          <br>Skin tags are soft, skin-coloured growths on the skin. Skin tags are usually the same colour as the rest of your skin, or a little darker. They can look like they're hanging off the skin. They do not usually hurt and are normally harmless.</p>
        <p><a href="">Slapped cheek syndrome</a>
          <br>Slapped cheek syndrome (also called fifth disease) is common in children and should get better on its own within 3 weeks. It's rarer in adults, but can be more serious.</p>
        <!--
        <p><a href="">Thrush in men and women</a>
          <br>Thrush can affect areas of skin, such as the armpits, groin and between the fingers. This usually causes a red, itchy or painful rash that scales over with white or yellow discharge. The rash may not be so obvious on darker skin.</p>
        -->
        <p><a href="">Warts and verrucas</a>
          <br>Warts feel firm and rough. They can appear on palms, knuckles, knees and fingers. You can get verrucas on your feet. They have tiny black dots under the hard skin.</p>

      </div>

    </article>

  </div>
</div>


{% endblock %}




{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
